
.catalog {
  background-color: $light-900;
  &__inner {
    display: flex;
    gap: 30px;
  }
  &__filters {
    width: 351px;
  }
  &__bottom-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
  }

  &__bottom-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    margin: 0 auto 30px auto;
    @include Inter(700, 18px, 1.1);
    color: $dark-700;
    background-color: $light-900;
    border: 1px solid $dark-400;
    border-radius: 6px;
    gap: 36px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, outline 0.3s, box-shadow 0.3s;

    svg.icon {
      transition: fill 0.3s;
      fill: $dark-700;
    }

    &:hover {
      background-color: transparent;
      border-color: $accent;
    }

    &:focus {
      outline: 1px solid $accent;
    }

    &:active {
      background-color: $accent;
      box-shadow: inset 4px 4px 4px rgba(0, 0, 0, .25);
    }
  }
}
.filter {
  &--popup {
    margin-top: 20px;
  }
  &__wrapper {
    background-color: $light;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0px 4px 8px 0px #0000000F,
    0px 0px 4px 0px #0000000A;
    height: fit-content;
  }
  &__item {
    padding: 20px 0;
    border-bottom: 1px solid rgba($dark-400, 0.2);
    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
  &__item-head {
    display: flex;
    justify-content: space-between;
    align-items: center
  }
  &__title-icon {
    fill: $dark-700;
    transform: rotate(-90deg);
  }
  &__title {
    @include DINPcond(900, 22px, 1);
    color: $dark-700;
    text-transform: uppercase;
    cursor: pointer;
    padding-right: 5px;
  }
  &__controls {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
  }
  &__control-btn {
    @include Inter(700, 16px, 1.25);
    background-color:$light-900;
    border: 1px solid $dark-700;
    &:hover {
      color: $dark-700;
      background-color: $accent;
    }
  }
}
.filter-checkboxes {
  &__form {
    padding-top: 20px;
  }
  &__label {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin-bottom: 8px;
    position: relative;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      .filter-checkboxes__checkbox-title {
       color: $dark-700;
      }
      &:active {
        .filter-checkboxes__checkbox-title {
          color: $accent;
        }
      }
    }
  }
  &__checkbox-title {
    @include Inter(400, 18px, 1.58);
    color: $dark-400;
    padding-left: 32px;
  }
  &__checkbox {
    @include visually-hidden;
    &:checked+.filter-checkboxes__checkbox-style {
      position: absolute;
      border: 1px solid $dark-400;
      border-radius: 6px;
      background-color: $dark-700;
      &::before {
        position: absolute;
        content: '';
        width: 10px;
        height: 6.75px;
        background-image: url('../images/icon/checked.svg');
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
      }
    }
  }
    &__checkbox-style {
      position: absolute;
      width: 20px;
      height: 20px;
      border: 1px solid $dark-400;
      border-radius: 6px;
      top: 50%;
      transform: translateY(-50%);
    }
}

.catalog-content {
  &__banner {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    max-height: 233px;
    height: 100vh;
  }
  &__banner-picture {
    height: 100%;
    width: 100%;
  }
  &__banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__banner-content {
    padding: 10px 15px 30px;
    max-width: 260px;
    width: fit-content;
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
  }
  &__banner-logo {
    width: 97.5px;
    height: auto;
    object-fit: cover;
    position: relative;
  }
  &__banner-title-box {
    max-width: 260px;
    width: 100%;
    color: $light;
    text-transform: uppercase;
    @include Manrope(700, 62px, 1);
  }
  &__banner-title {
    margin-bottom: 10px;
  }
  &__banner-subtitle {
    font-size: 24px;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__filter-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-right: 10px;
  }
  &__filter-tag-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    @include Inter(700, 16px, 1.25);
    color: $dark-700;
    gap: 14px;
    background-color: $light-900;
    border: 1px solid $dark-400;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, outline 0.3s, box-shadow 0.3s;
    svg.icon {
      transition: fill 0.3s;
      fill: $dark-700;
    }
    &:hover {
      background-color: transparent;
      border-color: $accent;
    }
  
    &:focus {
      outline: 1px solid $accent;
    }
  
    &:active {
      background-color: $accent;
      box-shadow: inset 4px 4px 4px rgba(0, 0, 0, .25);
    }
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  &__item {
    .promo-card {
      height: 100%;
      picture {
        width: 100%;
        img { 
          height: 100%;
          width: 100%;
        }
      }
    }

  }
}
.catalog-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__btn-filter {
      display: none;
  }
}
.sort {
  position: relative;
  display: inline-block;
  &--popup {
    width: 100%;
    .sort__list {
      position: static;
      border: none;
      background-color: $light-900;
      padding: 0;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    gap: 38px;
    background-color: $light-900;
    padding: 10px 20px;
    @include Inter(700, 16px, 1.25);
    color: $dark-700;
    border: 1px solid $dark-400;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, outline 0.3s, box-shadow 0.3s;
    &.list-open {
      .sort__btn-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 21px;
        transform: rotate(90deg);
      }
    }
    &.list-close {
      .sort__btn-icon {
        transform: rotate(-90deg);
      }
    }
    &:hover {
      background-color: transparent;
      border-color: $accent;
    }
  
    &:focus {
      outline: 1px solid $accent;
    }
  
    &:active {
      background-color: $accent;
      box-shadow: inset 4px 4px 4px rgba(0, 0, 0, .25);
    }
  }
  &__btn-icon {
    transition: all .3s;
  }
  &__list {
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 15px 20px;
    background-color: $light;
    border: 1px solid $dark-400;
    border-radius: 6px;
    &.is-open {
      max-height: fit-content;
      opacity: 1;
    }
    &.is-hide {
      max-height: 0;
      overflow: hidden;
      opacity: 0;
    }
  }
  &__item {
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__unit {
    @include Inter(400, 16px, 2);
    color: $dark-700;
    &:hover {
      @include Inter(700, 16px, 2);
    }
    &:active {
      color: $accent;
    }
  }
}

.catalog-pagination {
  position: relative;
  padding: 0 60px;
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; 
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item-link {
    padding: 15px 20px;
    @include Inter(700, 16px, 1.25);
    background-color: $light;
    border-radius: 6px;
    border: 1px solid transparent;
   transition: background-color 0.3s, color 0.3s, border-color 0.3s, outline 0.3s, box-shadow 0.3s;
   &--active {
    background-color: $accent;
   }
    &:hover {
      border-color: $accent;
    }
    &:focus {
      outline: 1px solid $accent;
    }
    &:active {
      color: $dark-700;
      background-color: $accent;
      box-shadow: inset 4px 4px 4px rgba(0, 0, 0, .25);
    }
  }
  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 13px;
    background-color:light;
    display: flex;
    justify-content: center;
    align-items: center;
    &--prev {
      left: 0;
    }
    &--next {
      right: 0;
    }
  }
}


.popup {
   &--active {
    &--sort {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
  &__dialog {
    &--sort {
      padding: 20px;
      border-top-left-radius: 26px;
      border-top-right-radius: 26px;
      height: fit-content;
      transition: all .3s;
      transition: transform 0.3s ease, opacity 0.3s ease;
      
      // начальное состояние (спрятан внизу)
      transform: translateY(100%);
      opacity: 0;
      // когда popup активный — двигаем вверх
      .popup--active & {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}

.range-slider {
  width: 100%;
  max-width: 350px;
  &__track-box {
    position: relative;
  }

  &__track {
    position: absolute;
    top: 22px;
    left: 0;
    right: 0;
    height: 4px;
    background: $light-900;
    border-radius: 2px;
    z-index: 1;
  }

  &__progress {
    position: absolute;
    top: 22px;
    left: 0;
    height: 4px;
    width: 70%;
    background: $dark-700;
    border-radius: 2px;
    z-index: 2;
  }

  input[type="range"] {
    position: absolute;
    width: 100%;
    top: 12px;
    pointer-events: none;
    background: none;
    appearance: none;
    z-index: 3;
    left: 0;

    &::-webkit-slider-thumb {
      pointer-events: all;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: $dark-700;
      border: none;
      cursor: pointer;
      appearance: none;
    }

    &::-moz-range-thumb {
      pointer-events: all;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: $dark-700;
      border: none;
      cursor: pointer;
    }
  }

  &__inputs {
    padding-top: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__input {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid $dark-400;
    border-radius: 6px;
    text-align: center;
    @include Inter(400, 16px, 1.25);
    color: $dark-400;
    position: relative;
  }
  &__separator{
    @include Inter(400, 16px, 1.25);
    color: $dark-400;
    padding: 0 3px;
  }
}

@media (max-width: 1150px) {
  .catalog-content {
    &__inner {
      grid-template-columns: repeat(2, 1fr);
    }
    &__banner {
      display: none;
    }
  }
}
@media (max-width: 990px) {
  .catalog-content {
    &__banner {
      display: none;
    }
  }
  .sort {
    &__btn {
      gap: 10px;
      width: 100%;
      justify-content: space-between;
    }
  }
}
@media (max-width: 880px) {
  .catalog-content {
    &__filter-tag-btn {
      font-size: 14px;
    }
  }
  .sort {
    &__btn{
      font-size: 14px;
    }
  }
}
@media (max-width: 768px) {
  .catalog {
    &__filters {
      display: none;
    }
  }
  .catalog-content {
    &__filter-tags {
      display: none;
    }
  }
  .catalog-controls {
    width: 100%;
    gap: 30px;
    &__btn-filter {
      flex: 1 1 30%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      @include Inter(700, 16px, 1.25);
      color: $dark-700;
      gap: 14px;
      background-color: $light-900;
      border: 1px solid $dark-400;
      border-radius: 6px;
      transition: background-color 0.3s, color 0.3s, border-color 0.3s, outline 0.3s, box-shadow 0.3s;
    
      svg.icon {
        transition: fill 0.3s;
        stroke: $dark-700;
        stroke-width: 1.5;
      }
    
      &:hover {
        background-color: transparent;
        border-color: $accent;
    
        svg.icon {
          stroke: $accent;
        }
      }
    
      &:focus {
        outline: 1px solid $accent;
      }
    
      &:active {
        background-color: $accent;
        box-shadow: inset 4px 4px 4px rgba(0, 0, 0, .25);
      }
    }
    &__sort {
      flex: 1 1 30%;
    }
  }
  .catalog-sort {
    &__btn {
      width: 100%;
      justify-content: space-between;
    }
  }
  .sort {
    &__btn{
      font-size: 16px;
    }
  }
}

@media (max-width: 576px) {
  .catalog-controls {
    &__btn-filter {
      gap: 5px;
      padding: 15px 10px;
    }
  } 
  .sort {
    &__btn {
      padding: 15px 10px;
    }
  }
  .catalog-content {
    &__item {
      &:has(.promo-card) {
        grid-column: span 2;
      }
    }
  }
}

@media (max-width: 440px) {
  .catalog {
    &__bottom-btn {
      width: 100%;
      font-size: 16px;
      padding: 15px 20px;
    }
  }
  .catalog-content {
    &__inner {
      gap: 20px;
    }
  }
  .catalog-controls {
    gap: 20px;
    &__btn-filter {
      font-size: 14px;
      padding: 15px 10px;
    }
  }
  .sort {
    &__btn {
      font-size: 14px;
      padding: 15px 10px;
    }
  }
  .catalog-pagination {
    padding: 0;
    &__item-link {
      font-size: 16px;
    }
    &__btn {
      display: none;
    }
  }
}

@media (max-width: 375px) {
  .catalog-controls {
    &__btn-filter {
      font-size: 12px;
      padding: 10px;
    }
  }
  .sort{
    &__btn {
      font-size: 12px;
      padding: 10px;
    }
  }
}