<div class="promo-ticker">
    <ul class="promo-ticker__list">
        <li class="promo-ticker__item">
            Подарункова упаковка
        </li>
        <li class="promo-ticker__item">
            <img class="promo-ticker__logo" src="./images/logo.svg" alt="Логотип інтернет магазину Ringel">
        </li>
        <li class="promo-ticker__item">
            Безкоштовна доставка
        </li>
        <li class="promo-ticker__item">
            <img class="promo-ticker__logo" src="./images/logo.svg" alt="Логотип інтернет магазину Ringel">
        </li>
        <li class="promo-ticker__item">
            100 днів на повернення
        </li>
        <li class="promo-ticker__item">
            <img class="promo-ticker__logo" src="./images/logo.svg" alt="Логотип інтернет магазину Ringel">
        </li>
        <li class="promo-ticker__item">
            Безкоштовне повернення
        </li>
        <li class="promo-ticker__item">
            <img class="promo-ticker__logo" src="./images/logo.svg" alt="Логотип інтернет магазину Ringel">
        </li>
        <li class="promo-ticker__item">
            Відмінна якість
        </li>
        <li class="promo-ticker__item">
            <img class="promo-ticker__logo" src="./images/logo.svg" alt="Логотип інтернет магазину Ringel">
        </li>
        <li class="promo-ticker__item">
            Офіційна гарантія
        </li>
        <li class="promo-ticker__item">
            <img class="promo-ticker__logo" src="./images/logo.svg" alt="Логотип інтернет магазину Ringel">
        </li>
    </ul>
</div>