<div class="product-rating">
    <div class="product-rating__star-wrapper">
        <svg class="icon product-rating__icon" width="17" height="18">
            <use href="./images/sprite.svg#star"></use>
        </svg>
        <svg class="icon product-rating__icon" width="17" height="18">
            <use href="./images/sprite.svg#star"></use>
        </svg>
        <svg class="icon product-rating__icon" width="17" height="18">
            <use href="./images/sprite.svg#star"></use>
        </svg>
        <svg class="icon product-rating__icon" width="17" height="18">
            <use href="./images/sprite.svg#star"></use>
        </svg>
        <svg class="icon product-rating__icon" width="17" height="18">
            <use href="./images/sprite.svg#star"></use>
        </svg>
    </div>
    <span class="product-rating__value">5.0</span>
    <a class="product-rating__reviews" href="#">18 відгуків</a>
</div>