
.breadcrumbs {
  display: inline-flex;
  justify-content: center;
  margin-bottom: 17px;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    color: $dark-400;
    @include Inter(400, 18px, 1.38);
    padding-right: 20px;
    position: relative;
    &::after {
      content: '/';
      position: absolute;
      right: 6px;
      color: $dark-400;
      @include Inter(400, 18px, 1.38);
    }

    &:last-child {
      padding-right: 0;
      border-bottom: none;
      &::after,
      &::before {
        display: none;
      }
      a.breadcrumbs__link {
        border-color: transparent;
      }
    }
  }

  &__link {
    color: inherit;
    border-bottom: 1px solid $dark-400;
  }
}