.menu-panel {
    position: fixed;
    z-index: 888;
    background-color: $light;
    width: 100%;
    height: calc(100vh - 79px);
    left: 0;
    top: 79px;
    background: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    &__wrapper {
      background-color: #fff;
      width: 100%;
    }
    &__inner {
      display: flex;
      justify-content: space-between;
      height: auto;
      width: 100%;
      padding-top: 00px;
      padding-bottom: 30px;
    }
    &__to-menu {
      display: none;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        max-width: 50%;
        width: 100%;
        margin-right: auto;
    }
    &__info-offers-block {
      width: 100%;
      max-width: 351px;
    }
    &__info-categories-block {
      margin-right: auto;
    }

    &__title {
      @include Inter(700, 16px, 1.25);
      color: $dark-700;
      margin-bottom: 24px;
    }
    &__item {
      .product-summary {
        position: relative;
        align-items: flex-end;
      }
    }
    &__reviews {
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 30px;
    }
    &__reviews-item {
      max-width: 240px;
      .benefit-card {
        aspect-ratio: 240 / 332;
        .benefit-card__info {
          padding: 5px;
        }
        .benefit-card__button {
          display: none;
        }
      }
    }
    &__categories-link {
      font-size: 18px;
      line-height: 3;
      color: $dark-700;
      transition: all 0.3s;
      &:hover {
        color: $accent;
      }
      &:active {
        opacity: .7;
      }
    }
}

@media (max-width:1124px) {
  .menu-panel {
    &__info {
      max-width: 70%;
      gap: 10px;
    }
    &__reviews-item {
      &:last-child {
        display: none;
      }
    }
    &__info-categories-block {
      margin: 0 auto;
    }
  }
}
@media (max-width: 880px) {
  .menu-panel {
    &__info {
      max-width: 100%;
    }
    &__reviews {
      display: none;
    }
  }
}
@media (max-width: 576px) {
  .menu-panel {
    background-color: $dark-700;
    &__wrapper {
      background-color: $dark-700;
    }
    &__inner {
      display: block;
    }
    &__to-menu {
      display: inline-flex;
      align-items: center;
      gap: 10px;
      @include DINPcond(900, 20px, 3.65);
      text-transform: uppercase;
      color: $light;
      transition: all .3s;
      svg.icon {
        transition: all .3s;
        fill: $light;
        transform: rotate(180deg);
      }
      &:hover {
        color: $accent;
        svg.icon {
          fill: $accent;
          transform: rotate(180deg) translateX(5px);
        }
      }
      &:active {
        opacity: .7;
        svg.icon{
          opacity: .7;
        }
      }
    }
    &__info {
      flex-direction: column;
      align-items: flex-start;
      gap: 25px;
    }
    &__item {
      margin-bottom: 10px;
      .product-summary {
        .badge-bestseller {
          top: 5px;
          left: 5px;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__info-categories-block {
      margin: 0;
    }
    &__title {
      &--offers {
        display: none;
      }
    }

    &__title,
    &__categories-link {
      color: $light;
    }
  }
}