.search-panel {
    position: relative;
    grid-column: 1 / -1;
    grid-row: 2;
    overflow: visible;
    z-index: 999;

    &::before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        top: 0;
        bottom: 0;
        background: $dark-700;
        pointer-events: none;
        z-index: -1;
    }
}

.search {
    max-width: 1492px;
    width: 100%;
    margin: 30px 0 14px 0;
    color: $dark-700;
    border-radius: 6px;
    position: relative;

    &__bar {
        display: flex;
        align-items: center;
        background-color: $light;
        border-radius: 3px;
        padding: 0 12px;
        transition: outline 0.3s;

        &:focus-within {
            outline: 2px solid $accent;
        }
    }

    &__input {
        flex: 1 1 auto;
        min-width: 0;
        padding: 14px 20px 14px 5px;

        &::placeholder {
            color: $dark-400;
            transition: color 0.3s;
        }

        &:hover::placeholder {
            color: $dark;
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        transition: color 0.3s, outline 0.3s, box-shadow 0.3s;

        &:hover {
            color: $accent;
        }

        &:focus {
            outline: 1px solid $accent;
        }

        &:active {
            box-shadow: inset 3px 3px 3px rgba(0, 0, 0, .12);
            color: $dark;
        }
    }

    &__popular {
        position: static;
        margin-top: 32px;
        color: $light;
        position: relative;
    }

    &__popular::before {
        content: "";
        position: absolute;
        width: 100vw;
        height: 1px;
        left: 50%;
        top: -11px;
        transform: translateX(-50%);
        background-color: $dark-400;
    }

    &__popular-title {
        @include Inter(600, 16px, 1.48);
        display: inline-block;
        margin-bottom: 11px;
    }

    &__popular-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__popular-link {
        display: inline-block;
        border-radius: 6px;
        border: 1px solid $light;
        padding: 8px;
        transition: border-color 0.3s, color 0.3s, outline 0.3s, box-shadow 0.3s;

        &:hover {
            border-color: $accent;
            color: $accent;
        }

        &:focus {
            outline-offset: 3px;
            outline: 1px solid $accent;
        }

        &:active {
            background-color: $accent;
            color: $dark-700;
            box-shadow: 1px 1px 4px $dark-700 inset;
        }
    }
}

@media (max-width: 1550px) {
    .search {
        margin: 60px 0 14px 0;
    }
}

@media (max-width: 768px) {
    .search {
        margin: 40px 0 14px 0;
    }
}

@media (max-width: 576px) {
    .search {
        margin: 20px 0 14px 0;
    }
}