@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_opsz,wght.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'DINPro-CondensedBlack';
  src: url('../fonts/DINPro-CondensedBlack.woff2') format('woff2-variations');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}