.footer {
  padding: 60px 0 25px;
  background-color: $dark-700;
  position: relative;
  .go-top {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 100;
    bottom: 95px;
    right: 60px;
    transform: rotate(90deg);
    transition: all .3s;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
    gap: 30px;
  }
  &__link-logo {
    max-width: 217px;
    display: block;
  }
  &__logo-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  &__item {
    max-width: 212px;
    transition: all 0.3s;
  }
  &__title {
    @include DINPcond(900, 18px, 1.38);
    color: $light;
    text-transform: uppercase;
    position: relative;
    &::after {
      display: none;
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      top: 50%;
      transform: translateY(-50%) rotate(-180deg);
      right: 0;
      background-image: url('../images/icon/arrow-right.svg');
      transition: all 0.3s;
    }
    &.is-active::after {
      transition: all 0.3s;
      transform: translateY(-50%) rotate(0deg);
    }
  }
  &__contact-title {
    @include DINPcond(900, 18px, 1.38);
    color: $light;
    text-transform: uppercase;
  }
  &__list {
    transition: max-height 0.35s ease, opacity 0.25s ease;
    &.is-hide[data-accordion-content] {
      max-height: 0;
      overflow: hidden;
      opacity: 0;
    }
    &.is-open[data-accordion-content] {
      max-height: fit-content;
      opacity: 1;
    }
  }
  &__list-item {
    margin: 20px 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__item-link {
    @include Inter(400, 16px, 1.56);
    &:hover,
    &:active {
      color: $accent;
    }
  }
  &__contact {
    max-width: 240px;
  }
  &__contact-list {
    margin: 20px 0;
  }
  &__contact-item {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
    
  }

  &__contact-link {
    display: block;
    @include Inter(400, 16px, 1.56);
    color: $light;
    margin-bottom: 15px;
    padding-left: 26px;
    &:last-child {
      margin-bottom: 0;
    }
    &--phone,
    &--sms,
    &--location {
      position: relative;
      &::after {
        position: absolute;
        content: '';
        width: 16px;
        height: 16px;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        background-image: url('../images/icon/call-small.svg');
      }
    }
    &--sms {
      &::after {
        background-image: url('../images/icon/message-small.svg');
      }
    }
    &--location {
      &::after {
        background-image: url('../images/icon/location-small.svg');
        top: 6px;
        transform: translateY(0);
      }
    }
    &:hover,
    &:active {
      color: $accent;
    }
  }
  &__social-list {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  &__social-link {
   svg {
    fill: $dark-700;
    path {
      fill: $accent;
      }
   }
    &:hover,
    &:active {
      svg {
        fill: $accent;
        path {
          fill: $dark-700;
        }
      }
    }
  }
  &__bottom {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
  }
  &__rigths {
    order: 1;
    margin-right: auto;
  }
  .privacy-policy {
    order: 2;
  }
  .rules-use {
    order: 3;
  }
}
.cookie-banner {
  padding: 20px;
  background-color: $cookie-baner;
  display: flex;
  align-items: center;
  border-radius: 6px;
  &__text {
    max-width: 1184px;
    @include Inter(400, 16px, 1.56);
    text-wrap: balance;
    margin-right: 25px;
    flex: 1 1 auto;
  }
  &__btn-accept {
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    padding: 10px 55px 10px 20px;
    position: relative;
    background-color: $accent;
    color: $dark-700;
    @include Inter(700, 14px, 1.4);
    margin-right: 15px;
    border-radius: 6px;
    &::after {
      background-image: url('../images/icon/simlpe-right.svg');
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      transition: all 0.3s;
    }
    &:hover,
    &:active {
      &::after {
        right: 10px;
      }
    }
  }
  &__btn-settings {
    &:hover,
    &:active {
    .cookie-banner__btn-settings-text {
        color: $accent;
        border-bottom: 1px solid $accent;
      }
    }
  }
  &__btn-settings-text {
    display: inline;
    border-bottom: 1px solid $dark-400;
  }
}
.privacy-policy,
.rules-use {
  border-bottom: 1px solid $dark-400;
  &:hover,
  &:active {
    color: $accent;
    border-bottom: 1px solid $accent;
  }
}

@media (max-width: 1150px) {
  .footer {
    &__inner{
      gap: 25px 30px;
    }

    .cookie-banner {
      position: relative;
      flex-wrap: wrap;
      &__text {
        text-wrap: auto;
        margin-bottom: 10px;
        margin-right: 0;
      }
      &__btn-close {
        position: absolute;
        top: 5px;
        right: 5px;
      }
    }
  }
}
@media (max-width: 880px) {
  .footer {
    &__inner{
      justify-content: initial;
    }
    &__item {
      margin-left: 20px;
    }
    &__bottom {
      gap: 10px;
    }
  }
}
@media (max-width: 680px) {
  .footer {
    &__inner {
      display: block;
    }
    &__item {
      max-width: 100%;
      padding: 10px 0;
      border-bottom: 1px solid  $dark-400;
      margin: 0;
      &:last-child {
        border-bottom: none;
      }
    }
    &__title {
      &::after {
        display: block;
      }
    }
    &__item-link {
      @include Inter(400, 16px, 1.87);
    }
    &__bottom {
      justify-content: space-between;
      gap: 15px;
      .rules-use {
        order: 2;
      }
      .privacy-policy {
        order: 1;
      }
    }

    &__rigths {
      order: 3;
    }
  }
}
@media (max-width: 578px) {
  .footer {
    padding: 20px 0 15px;
    .go-top {
      bottom: 0;
      top: 20px;
      right: 15px;
    }
    &__link-logo {
      max-width: 100px;
    }
    &__contact-link {
      &--location {
        @include Inter(400, 16px, 1.37);
      }
    }
    .cookie-banner {
      &__text {
        @include Inter(400, 12px, 1.5);
        text-wrap: balance;
      }
      &__btn-accept {
        @include Inter(700, 12px, 1.5);
      }
    }
    &__bottom {
      .rules-use,
      .privacy-policy {
        @include Inter(400, 14px, 1.37);
      }
    }

    &__rigths {
    @include Inter(400, 14px, 1.37);
    }
  }
}