html,
body {
  height: 100%;
}

body {
  color: $dark-400;
  letter-spacing: normal;
  font-style: normal;
  background-color: $dark-450;
  @include Inter(400, 16px, 1.48);
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1540px;
  padding: 0 20px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon {
  fill: currentColor;
}

.logo {
  border-radius: 10px;
  z-index: 10;
  transition: transform 0.3s, opacity 0.3s, outline 0.3s;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    outline: 1px solid $accent;
  }

  &:active {
    transform: scale(0.9) translateY(8px);
  }
}

.button {
  display: flex;
  align-items: center;
  background-color: $accent;
  padding: 15px 20px;
  font-size: 18px;
  color: $dark-700;
  border: 1px solid transparent;
  border-radius: 6px;
  gap: 9px;
  font-weight: 700;
  line-height: 1.1;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s, outline 0.3s, box-shadow 0.3s;

  &:hover {
    background-color: transparent;
    color: $accent;
    border-color: $accent;
  }

  &:focus {
    outline: 1px solid $accent;
  }

  &:active {
    color: $dark-700;
    background-color: $accent;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, .25);
  }
}

.sections {
  padding: 60px 0;
}

.go-top {
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 10;
  bottom: 95px;
  right: 60px;
  transform: rotate(90deg);
  transition: all .3s;
}

// атрибуты для аккардеона
.is-open [data-accordion-content] {
  max-height: fit-content;
  opacity: 1;
}

.is-hide [data-accordion-content] {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}

// вращение стрелки в аккардеоне footer
.is-active::after {}