html,
body {
  height: 100%;
}

body {
  color: $dark-400;
  letter-spacing: normal;
  font-style: normal;
  background-color: $light-900;
   @include Inter(700, 18px, 1.11);
  display: flex;
  flex-direction: column;
  cursor: url('../images/cursor.svg') 6 6, auto;
}
label {
  cursor: pointer;
}
.main {
  flex-grow: 1;
}

.container {
  max-width: 1540px;
  padding: 0 20px;
  margin: 0 auto;
}


.more-details-btn {
  @include Inter(700, 18px, 1.11);
  color: $dark-700;
  padding: 15px 66px 15px 20px;
  display: inline-flex;
  align-items: center;
  position: relative;
  background-color: $accent;
  border-radius: 6px;
  width: fit-content;

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    transition: all .3s;
  }

  &:hover,
  &:active {
    .more-details-btn__icon {
      right: 10px;
    }
  }
}

.title {
  @include DINPcond(900, 45px, 1);
  text-transform: uppercase;
  color: $dark-700;
  margin-bottom: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon {
  fill: currentColor;
}

.logo {
  border-radius: 10px;
  z-index: 1000;
  transition: transform 0.3s, opacity 0.3s, outline 0.3s;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    outline: 1px solid $accent;
  }

  &:active {
    transform: scale(0.9) translateY(8px);
  }
}

.button {
  display: flex;
  align-items: center;
  background-color: $accent;
  padding: 15px 20px;
  font-size: 18px;
  color: $dark-700;
  border: 1px solid transparent;
  border-radius: 6px;
  gap: 22px;
  font-weight: 700;
  line-height: 1.1;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s, outline 0.3s, box-shadow 0.3s;

  &:hover {
    background-color: transparent;
    color: $accent;
    border-color: $accent;
  }

  &:focus {
    outline: 1px solid $accent;
  }

  &:active {
    color: $dark-700;
    background-color: $accent;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, .25);
  }
}

.section {
  padding: 60px 0;

  @media(max-width: 576px) {
    padding: 30px 0;
  }
}

.go-top {
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 10;
  bottom: 95px;
  right: 60px;
  transform: rotate(90deg);
  transition: all .3s;
}

// атрибуты для аккардеона
.is-open [data-accordion-content] {
  max-height: fit-content;
  opacity: 1;
}

.is-hide [data-accordion-content] {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}


.is-active::after {}

// вращение стрелки в аккардеоне footer

@media (max-width: 680px) {
  .more-details-btn {
    font-size: 16px;
  }
}

// вращение стрелки в аккардеоне footer
.is-active::after {}




.top {
  background-color: $light-900;
  padding: 135px 0 0px;

  &__title {
    @include DINPcond(900, 45px, 1);
    color: $dark-700;
    text-transform: uppercase;
    margin-bottom: 0px;
  }

  &__info {
    margin-top: 20px;
    padding: 88px 0 35px;
    background-image: url('../images/categories/bg.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 10;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      left: 97px;
      top: 78px;
      border-radius: 50%;
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, .55) 0%, rgba(0, 0, 0, .45) 35%, rgba(0, 0, 0, 0) 75%);
      filter: blur(30px);
      width: 688px;
      height: 507px;
      transform: translate(-50%, -50%) rotate(-19.4deg);
      pointer-events: none;
    }

    &::after {
      content: "";
      background-image: url('../images/logo.svg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      width: 97px;
      height: 44px;
      left: 16px;
      top: 16px;
    }
  }

  &__info-title {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-family: 'Manrope-VariableFont_wght', sans-serif;
    text-transform: uppercase;
    color: $light;
    font-size: 62px;
    max-width: 480px;
    width: 100%;
    line-height: 1;
    position: relative;
    z-index: 15;
    margin-left: 16px;
  }

  &__subtitle {
    font-size: 24px;
  }
}


.popup {
  &--hide {
    display: none;
  }

  &--active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 50;
    overflow-y: auto;
  }
  &--basket {
    justify-content: flex-end;
    align-items: stretch;

  }
  &__dialog {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    background-color: $light-900;
    padding: 60px 80px;
  }

  &__panel {
    display: flex;
    position: relative;
  }

  &__title {
    @include DINPcond(900, 25px, 1);
    color: $dark-700;
    text-transform: uppercase;
  }

  &__close {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    position: absolute;
    width: 44px;
    height: 44px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 50%;
    transition: color 0.3s,
      outline 0.3s,
      box-shadow 0.3s;

    svg.icon {
      transition: all .3s;
    }

    &:hover {
      color: $accent;

      svg.icon {
        fill: $accent;
      }
    }

    &:focus {
      outline: 1px solid $accent;

    }

    &:active {
      box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);

      svg.icon {
        fill: $accent;
      }
    }
  }
}

.hidden {
  display: none;
}

@media (max-width: 576px) {
  .title {
    font-size: 22px;
    margin-bottom: 15px;
  }

  .top {
    padding: 92px 0 0;
  }

  .breadcrumbs {
    &__link {
      font-size: 14px;
    }
  }
}