.slider {
  .swiper {
    width: 100%;
  }

 /*  .swiper-button-prev,
  .swiper-button-next {
    @media (max-width: 768px) {
      display: none;
    }
  }

  .swiper-pagination {
    @media (min-width: 769px) {
      display: none;
    }
  } */

  // Модификаторы
  &--hero {
    .card--hero {
      // стили карточек акции
    }
  }

  &--reviews {
    .card--review {
      // стили карточек отзывов
    }
  }

  &--products {
    .card--product {
      // стили карточек товаров
    }
  }
}