@import "reset";
@import "vars";
@import "fonts";
@import "global";            

@import "./global/header";
@import "./global/footer";

@import "./global/breadcrumbs";
@import "./global/search";
@import "./global/cookie-banner";
@import "./global/ticker";     

@import "./global/lego/date-info";
@import "./global/lego/bage";     
@import "./global/lego/rating";
@import "./global/lego/options";
@import "./global/lego/product-price";

@import "./global/cards/promo-card";
@import "./global/cards/card-product";
@import "./global/cards/card-category";
@import "./global/cards/card-deal";
@import "./global/cards/card-deal-detail";

@import "./global/section-product";
@import "./global/section-about";
@import "./global/section-similar-deal";
@import "./global/series-banner";

@import "./global/section-advice";
@import "./global/modals/modal-advice";

@import "./pages/index/hero";
@import "./pages/index/promo";
@import "./pages/index/benefits";
@import "./pages/index/reviews";

@import "./pages/catalog";
@import "./pages/category";
@import "./pages/series";

@import "./pages/product-detail";
@import "./pages/deals";
@import "./pages/product-deal";

@import "./pages/contacts";
