@import "reset";
@import "vars";
@import "fonts";
@import "global";
@import "./global/header";
@import "./global/breadcrumbs";
@import "./global/search";
@import "./pages/index/hero";
@import "./pages/index/promo";
@import "./global/section-product";
@import "./global/cards/promo-card";
@import "./global/lego/bage";
@import "./global/lego/rating";
@import "./global/lego/options";
@import "./global/lego/product-price";
@import "./global/cards/card-product";
@import "./global/tiker";
@import "./pages/index/benefits";
@import "./global/about";
@import "./pages/index/reviews";
@import "./global/cookie-banner";
@import "./pages/catalog/catalog";
@import "./global/footer";


@import "./pages/category";
@import "./pages/product-detail/product-detail";
@import "./global/cards/card-category";

