@import "reset";
@import "vars";
@import "fonts";
@import "global";

@import "./global/lego/date-info";
@import "./global/lego/promo-ticker";

@import "./global/header";
@import "./global/breadcrumbs";
@import "./global/search";
@import "./pages/index/hero";
@import "./pages/index/promo";
@import "./global/section-product";
@import "./global/cards/promo-card";
@import "./global/cards/card-product";
@import "./pages/index/benefits";
@import "./global/section-about";
@import "./pages/index/reviews";
@import "./global/cookie-banner";
@import "./pages/catalog/catalog";
@import "./global/footer";

@import "./pages/category";
@import "./global/cards/card-category";


@import "./pages/deals";
@import "./global/cards/card-deal";
@import "./pages/product-deal";
@import "./global/cards/card-deal-detail";
@import "./global/section-similar-deal";

@import "./pages/contacts";
