# build artifacts
app/*.html

# compiled css
app/css/*.min.css
app/css/*.map
# якщо збираєш і немініфікований
# app/css/style.css

# final bundles
dist/
build/

# tooling
node_modules/
.vscode/
.idea/
.DS_Store
npm-debug.*
*.log