<div class="cookie-banner">
    <p class="cookie-banner__text">
        Ми та наші партнери використовуємо cookie та інші технології для збору даних,
        покращення сайту та маркетингу. Продовжуючи перегляд, ви погоджуєтесь
        з нашими
        <a class="rules-use cookie-banner__rules cookie-banner__link" href="#">Умовами користування</a> та
        <a class="privacy-policy cookie-banner__privaci cookie-banner__link" href="#">Політикою конфіденційності</a>.Щоб
        змінити
        налаштування cookie, натисніть
        <a class="cookie-banner__btn-settings-text cookie-banner__link">
            Керування cookie.
        </a>
    </p>
    <button class="cookie-banner__btn-accept" type="button">
        Прийняти всі куки
        <svg class="icon" width="18" height="13">
            <use href="./images/sprite.svg#arrowRight"></use>
        </svg>
    </button>
    <button class="cookie-banner__btn-close" type="button">
        <svg class="icon" width="16" height="16">
            <use href="./images/sprite.svg#close"></use>
        </svg>
    </button>
</div>


