<div class="menu-panel">
    <div class="menu-panel__wrapper">
        <div class="container">
            <div class="menu-panel__inner">
                <button class="menu-panel__to-menu">
                    <svg class="icon" width="24px" height="24px">
                        <use xlink:href="./images/sprite.svg#arrowRight"></use>
                    </svg>
                    <p class="menu-panel__to-menu-title">меню</p>
                </button>
                <div class="menu-panel__info">
                    <div class="menu-panel__info-offers-block">
                        <p class="menu-panel__title menu-panel__title--offers">
                            Популярні пропозиції
                        </p>
                        <ul class="menu-panel__offers">
                            <li class="menu-panel__item">
                                @@include('./cards/card-product-summary.html', {
                                "folder": "goods",
                                "img": "zitroneOlive",
                                "alt": "Каструля Ringel Zitrone Olive 4.2 л 24 см (RG-2008-22)",
                                "width": "86",
                                "height": "61",
                                "title": "Каструля Ringel Zitrone Olive 4.2 л 24 см (RG-2008-22)",
                                "showBadgeBestseller": "true"
                                })
                            </li>
                            <li class="menu-panel__item">
                                @@include('./cards/card-product-summary.html', {
                                "folder": "goods",
                                "img": "zitroneOlive",
                                "alt": "Каструля Ringel Zitrone Olive 4.2 л 24 см (RG-2008-22)",
                                "width": "86",
                                "height": "61",
                                "title": "Каструля Ringel Zitrone Olive 4.2 л 24 см (RG-2008-22)",
                                "showBadgeBestseller": "true"
                                })
                            </li>
                        </ul>
                    </div>
                    <div class="menu-panel__info-categories-block">
                        <p class="menu-panel__title menu-panel__title--categories">
                            Популярні Категорії
                        </p>
                        <ul class="menu-panel__categories">
                            <li class="menu-panel__categories-item">
                                <a class="menu-panel__categories-link" href="">
                                    Сковороди
                                </a>
                            </li>
                            <li class="menu-panel__categories-item">
                                <a class="menu-panel__categories-link" href="">
                                    Каструлі та ковші
                                </a>
                            </li>
                            <li class="menu-panel__categories-item">
                                <a class="menu-panel__categories-link" href="">
                                    Ножі та приладдя
                                </a>
                            </li>
                            <li class="menu-panel__categories-item">
                                <a class="menu-panel__categories-link" href="">
                                    Столові прилади
                                </a>
                            </li>
                            <li class="menu-panel__categories-item">
                                <a class="menu-panel__categories-link" href="">
                                    Інше
                                </a>
                            </li>
                            <li class="menu-panel__categories-item">
                                <a class="menu-panel__categories-link" href="">
                                    Серії
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul class="menu-panel__reviews">
                    <li class="menu-panel__reviews-item">
                        @@include('./cards/card-benefit.html',{
                        "folder":"reviews",
                        "img":"hero-promo-1",
                        "title": "Каструля Ringel Meyer з кришкою 4.2 л",
                        "review":"«Я обрав цю сковорідку, бо вона красива"
                        })
                    </li>
                    <li class="menu-panel__reviews-item">
                        @@include('./cards/card-benefit.html',{
                        "folder":"reviews",
                        "img":"hero-promo-2",
                        "title": "Каструля Ringel Meyer з кришкою 4.2 л",
                        "review":"«Я обрав цю сковорідку, бо вона красива"
                        })
                    </li>
                </ul>
            </div>
        </div>
