<div class="menu-panel">
    <div class="container">
        <div class="menu-panel__inner">
            <div class="menu-panel__info">
                <ul class="menu-panel__offers">

                </ul>
                <ul class="menu-panel__categories">
                    <li class="menu-panel__categories-item">
                        <a class="menu-panel__categories-link" href="">
                            Сковороди
                        </a>
                    </li>
                    <li class="menu-panel__categories-item">
                        <a class="menu-panel__categories-link" href="">
                            Каструлі та ковші
                        </a>
                    </li>
                    <li class="menu-panel__categories-item">
                        <a class="menu-panel__categories-link" href="">
                            Ножі та приладдя
                        </a>
                    </li>
                    <li class="menu-panel__categories-item">
                        <a class="menu-panel__categories-link" href="">
                            Столові прилади
                        </a>
                    </li>
                    <li class="menu-panel__categories-item">
                        <a class="menu-panel__categories-link" href="">
                            Інше
                        </a>
                    </li>
                    <li class="menu-panel__categories-item">
                        <a class="menu-panel__categories-link" href="">
                            Серії
                        </a>
                    </li>
                </ul>
            </div>
            <ul class="menu-panel__reviews">
                <li class="menu-panel__reviews-item">
                    @@include('./cards/card-benefit.html')
                </li>
                <li class="menu-panel__reviews-item">
                    @@include('./cards/card-benefit.html')
                </li>
            </ul>
        </div>
    </div>
</div>