<div class="search-panel">
    <form class="search">
        <div class="search__bar">
            <button class="search__button" type="button">
                <svg class="icon" width="23" height="23">
                    <use href="./images/sprite.svg#search"></use>
                </svg>
                <span class="visually-hidden">
                    Пошук товарів на сайті
                </span>
            </button>
            <input class="search__input" type="text" placeholder="Пошук по сайту" name="text">
            <button class="search__button" type="button">
                <svg class="icon" width="16" height="17">
                    <use href="./images/sprite.svg#close"></use>
                </svg>
                <span class="visually-hidden">
                    Очистити пошук на сайті
                </span>
            </button>
        </div>
        <div class="search__popular">
            <span class="search__popular-title">
                Популярні запити
            </span>
            <ul class="search__popular-list">
                <li class="search__popular-item">
                    <a class="search__popular-link" href="">
                        Сковорідка Zira
                    </a>
                </li>
                <li class="search__popular-item">
                    <a class="search__popular-link" href="">
                        Каструля Prada
                    </a>
                </li>
                <li class="search__popular-item">
                    <a class="search__popular-link" href="">
                        Ножі Ringel
                    </a>
                </li>
            </ul>
        </div>
    </form>
</div>