<section class="advice section">
    <div class="container">
        <h2 class="visually-hidden">
            Поради та часті запитання від магазину Ringel
        </h2>
        <div class="advice__inner">
            <ul class="advice__list">
                <li class="advice__item">
                    <h3 class="advice__subtitle">
                        Доставка товару
                    </h3>
                    <div class="advice__info">
                        <p class="advice__question">
                            Чи безпечне антипригарне покриття для здоров’я?
                        </p>
                        <button class="advice__button" type="button">
                            <span class="visually-hidden">
                                Відкрити відповідь на запитання
                            </span>
                            <svg class="icon" width="22" height="23">
                                <use href="./images/sprite.svg#chat"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="advice__info">
                        <p class="advice__question">
                            Чи безпечне антипригарне покриття для здоров’я?
                        </p>
                        <button class="advice__button" type="button">
                            <span class="visually-hidden">
                                Відкрити відповідь на запитання
                            </span>
                            <svg class="icon" width="22" height="23">
                                <use href="./images/sprite.svg#chat"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="advice__info">
                        <p class="advice__question">
                            Який об’єм каструль доступний у лінійці Ringel?
                        </p>
                        <button class="advice__button" type="button">
                            <span class="visually-hidden">
                                Відкрити відповідь на запитання
                            </span>
                            <svg class="icon" width="22" height="23">
                                <use href="./images/sprite.svg#chat"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="advice__info">
                        <p class="advice__question">
                            Чи безпечне антипригарне покриття для здоров’я?
                        </p>
                        <button class="advice__button" type="button">
                            <span class="visually-hidden">
                                Відкрити відповідь на запитання
                            </span>
                            <svg class="icon" width="22" height="23">
                                <use href="./images/sprite.svg#chat"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="advice__info">
                        <p class="advice__question">
                            Який об’єм каструль доступний у лінійці Ringel?
                        </p>
                        <button class="advice__button" type="button">
                            <span class="visually-hidden">
                                Відкрити відповідь на запитання
                            </span>
                            <svg class="icon" width="22" height="23">
                                <use href="./images/sprite.svg#chat"></use>
                            </svg>
                        </button>
                    </div>
                </li>
            </ul>
            <ul class="advice__list">
                <li class="advice__item">
                    <h3 class="advice__subtitle">
                        Умови повернення
                    </h3>
                    <div class="advice__info">
                        <p class="advice__question">
                            Який об’єм каструль доступний у лінійці Ringel?
                        </p>
                        <button class="advice__button" type="button">
                            <span class="visually-hidden">
                                Відкрити відповідь на запитання
                            </span>
                            <svg class="icon" width="22" height="23">
                                <use href="./images/sprite.svg#chat"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="advice__info">
                        <p class="advice__question">
                            Який об’єм каструль доступний у лінійці Ringel?
                        </p>
                        <button class="advice__button" type="button">
                            <span class="visually-hidden">
                                Відкрити відповідь на запитання
                            </span>
                            <svg class="icon" width="22" height="23">
                                <use href="./images/sprite.svg#chat"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="advice__info">
                        <p class="advice__question">
                            Який об’єм каструль доступний у лінійці Ringel?
                        </p>
                        <button class="advice__button" type="button">
                            <span class="visually-hidden">
                                Відкрити відповідь на запитання
                            </span>
                            <svg class="icon" width="22" height="23">
                                <use href="./images/sprite.svg#chat"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="advice__info">
                        <p class="advice__question">
                            Який об’єм каструль доступний у лінійці Ringel?
                        </p>
                        <button class="advice__button" type="button">
                            <span class="visually-hidden">
                                Відкрити відповідь на запитання
                            </span>
                            <svg class="icon" width="22" height="23">
                                <use href="./images/sprite.svg#chat"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="advice__info">
                        <p class="advice__question">
                            Який об’єм каструль доступний у лінійці Ringel?
                        </p>
                        <button class="advice__button" type="button">
                            <span class="visually-hidden">
                                Відкрити відповідь на запитання
                            </span>
                            <svg class="icon" width="22" height="23">
                                <use href="./images/sprite.svg#chat"></use>
                            </svg>
                        </button>
                    </div>
                </li>
            </ul>
            <ul class="advice__list">
                <li class="advice__item">
                    <h3 class="advice__subtitle">
                        Особистий акаунт
                    </h3>
                    <div class="advice__info">
                        <p class="advice__question">
                            Чи безпечне антипригарне покриття для здоров’я?
                        </p>
                        <button class="advice__button" type="button">
                            <span class="visually-hidden">
                                Відкрити відповідь на запитання
                            </span>
                            <svg class="icon" width="22" height="23">
                                <use href="./images/sprite.svg#chat"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="advice__info">
                        <p class="advice__question">
                            Чи безпечне антипригарне покриття для здоров’я?
                        </p>
                        <button class="advice__button" type="button">
                            <span class="visually-hidden">
                                Відкрити відповідь на запитання
                            </span>
                            <svg class="icon" width="22" height="23">
                                <use href="./images/sprite.svg#chat"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="advice__info">
                        <p class="advice__question">
                            Чи безпечне антипригарне покриття для здоров’я?
                        </p>
                        <button class="advice__button" type="button">
                            <span class="visually-hidden">
                                Відкрити відповідь на запитання
                            </span>
                            <svg class="icon" width="22" height="23">
                                <use href="./images/sprite.svg#chat"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="advice__info">
                        <p class="advice__question">
                            Чи безпечне антипригарне покриття для здоров’я?
                        </p>
                        <button class="advice__button" type="button">
                            <span class="visually-hidden">
                                Відкрити відповідь на запитання
                            </span>
                            <svg class="icon" width="22" height="23">
                                <use href="./images/sprite.svg#chat"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="advice__info">
                        <p class="advice__question">
                            Чи безпечне антипригарне покриття для здоров’я?
                        </p>
                        <button class="advice__button" type="button">
                            <span class="visually-hidden">
                                Відкрити відповідь на запитання
                            </span>
                            <svg class="icon" width="22" height="23">
                                <use href="./images/sprite.svg#chat"></use>
                            </svg>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>