<section class="faq section">
    <div class="container">
        <h2 class="title">
            Часті запитання
        </h2>
        <div class="faq__inner">
            <ul class="faq__list">
                <li class="faq__item active">
                    <button class="faq__button" type="button">
                        <span class="visually-hidden">
                            Відкрити/закрити акардеон
                        </span>
                    </button>
                    <div class="faq__info">
                        <h3 class="faq__title">
                            Як працює антипригарне покриття Ringel?
                        </h3>
                        <p class="faq__answer">
                            Технологія Ringel використовує титанове посилення, яке у 3 рази твердіше за
                            нержавіючу
                            сталь, та спеціальну мікротекстуру, що повторює ефект лотоса. Це робить поверхню
                            гідрофобною, запобігає прилипанню їжі та полегшує догляд за каструлею.
                        </p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__button" type="button">
                        <span class="visually-hidden">
                            Відкрити/закрити акардеон
                        </span>
                    </button>
                    <div class="faq__info">
                        <h3 class="faq__title">
                            Як працює антипригарне покриття Ringel?
                        </h3>
                        <p class="faq__answer">
                            Технологія Ringel використовує титанове посилення, яке у 3 рази твердіше за
                            нержавіючу
                            сталь, та спеціальну мікротекстуру, що повторює ефект лотоса. Це робить поверхню
                            гідрофобною, запобігає прилипанню їжі та полегшує догляд за каструлею.
                        </p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__button" type="button">
                        <span class="visually-hidden">
                            Відкрити/закрити акардеон
                        </span>
                    </button>
                    <div class="faq__info">
                        <h3 class="faq__title">
                            Як працює антипригарне покриття Ringel?
                        </h3>
                        <p class="faq__answer">
                            Технологія Ringel використовує титанове посилення, яке у 3 рази твердіше за
                            нержавіючу
                            сталь, та спеціальну мікротекстуру, що повторює ефект лотоса. Це робить поверхню
                            гідрофобною, запобігає прилипанню їжі та полегшує догляд за каструлею.
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="faq__list">
                <li class="faq__item">
                    <button class="faq__button" type="button">
                        <span class="visually-hidden">
                            Відкрити/закрити акардеон
                        </span>
                    </button>
                    <div class="faq__info active">
                        <h3 class="faq__title">
                            Як працює антипригарне покриття Ringel?
                        </h3>
                        <p class="faq__answer">
                            Технологія Ringel використовує титанове посилення, яке у 3 рази твердіше за
                            нержавіючу
                            сталь, та спеціальну мікротекстуру, що повторює ефект лотоса. Це робить поверхню
                            гідрофобною, запобігає прилипанню їжі та полегшує догляд за каструлею.
                        </p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__button" type="button">
                        <span class="visually-hidden">
                            Відкрити/закрити акардеон
                        </span>
                    </button>
                    <div class="faq__info active">
                        <h3 class="faq__title">
                            Як працює антипригарне покриття Ringel?
                        </h3>
                        <p class="faq__answer">
                            Технологія Ringel використовує титанове посилення, яке у 3 рази твердіше за
                            нержавіючу
                            сталь, та спеціальну мікротекстуру, що повторює ефект лотоса. Це робить поверхню
                            гідрофобною, запобігає прилипанню їжі та полегшує догляд за каструлею.
                        </p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__button" type="button">
                        <span class="visually-hidden">
                            Відкрити/закрити акардеон
                        </span>
                    </button>
                    <div class="faq__info active">
                        <h3 class="faq__title">
                            Як працює антипригарне покриття Ringel?
                        </h3>
                        <p class="faq__answer">
                            Технологія Ringel використовує титанове посилення, яке у 3 рази твердіше за
                            нержавіючу
                            сталь, та спеціальну мікротекстуру, що повторює ефект лотоса. Це робить поверхню
                            гідрофобною, запобігає прилипанню їжі та полегшує догляд за каструлею.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>