<section class="similar-deal section">
    <div class="container">
        <ul class="similar-deal__list">
            <li class="similar-deal__item">
                @@include('./cards/card-deal.html', {
                "img": "vegetables",
                "alt": "Овочі тушковані на сковороді Ringel",
                "title": "Сковорода кована Ringel акція 2+2",
                "date": "З 15 серпня до 7 вересня",
                "time": "Залишилося 9 днів"
                })
            </li>
            <li class="similar-deal__item">
                @@include('./cards/card-deal.html', {
                "img": "vegetables",
                "alt": "Овочі тушковані на сковороді Ringel",
                "title": "Сковорода кована Ringel акція 2+2",
                "date": "З 15 серпня до 7 вересня",
                "time": "Залишилося 9 днів"
                })
            </li>
            <li class="similar-deal__item">
                @@include('./cards/card-deal.html', {
                "img": "vegetables",
                "alt": "Овочі тушковані на сковороді Ringel",
                "title": "Сковорода кована Ringel акція 2+2",
                "date": "З 15 серпня до 7 вересня",
                "time": "Залишилося 9 днів"
                })
            </li>
            <li class="similar-deal__item">
                @@include('./cards/card-deal.html', {
                "img": "vegetables",
                "alt": "Овочі тушковані на сковороді Ringel",
                "title": "Сковорода кована Ringel акція 2+2",
                "date": "З 15 серпня до 7 вересня",
                "time": "Залишилося 9 днів"
                })
            </li>
            <button class="similar-deal__button similar-deal__button--right" type="button">
                <span class="visually-hidden">
                    Перейти до наступного слайду
                </span>
                <svg class="icon" width="18" height="13">
                    <use href="./images/sprite.svg#arrowRight"></use>
                </svg>
            </button>
            <button class="similar-deal__button similar-deal__button--left" type="button">
                <span class="visually-hidden">
                    Перейти до наступного слайду
                </span>
                <svg class="icon" width="18" height="13">
                    <use href="./images/sprite.svg#arrowRight"></use>
                </svg>
            </button>
        </ul>
        <div class="slider-pagination slider-pagination--promo">
            <span class="slider-pagination__bullet slider-pagination__bullet-active slider-pagination__bullet-active--promo"></span>
            <span class="slider-pagination__bullet slider-pagination__bullet--promo"></span>
        </div>
    </div>
</section>