<div class="ticker">
  <div class="container">
    <ul class="ticker__list">
      <li class="ticker__item">
        Подарункова упаковка
      </li>
      <li class="ticker__item">
        <img class="ticker__img" src="./images/logo.svg" alt="Ringel">
      </li>
      <li class="ticker__item">
        Безкоштовна доставка
      </li>
      <li class="ticker__item">
        <img class="ticker__img" src="./images/logo.svg" alt="Ringel">
      </li>
      <li class="ticker__item">
        100 днів на повернення
      </li>
      <li class="ticker__item">
        <img class="ticker__img" src="./images/logo.svg" alt="Ringel">
      </li>
      <li class="ticker__item">
        Безкоштовне повернення
      </li>
      <li class="ticker__item">
        <img class="ticker__img" src="./images/logo.svg" alt="Ringel">
      </li>
      <li class="ticker__item">
        відмінна якість
      </li>
      <li class="ticker__item">
        <img class="ticker__img" src="./images/logo.svg" alt="Ringel">
      </li>
      <li class="ticker__item">
        Офіційна гарантія
      </li>
    </ul>
  </div>
</div>