<div class="tiker">
  <div class="container">
    <ul class="tiker__list">
      <li class="tiker__item">
        Подарункова упаковка
      </li>
      <li class="tiker__item">
        <img class="tiker__img" src="./images/logo.svg" alt="Ringel">
      </li>
      <li class="tiker__item">
        Безкоштовна доставка
      </li>
      <li class="tiker__item">
        <img class="tiker__img" src="./images/logo.svg" alt="Ringel">
      </li>
      <li class="tiker__item">
        100 днів на повернення
      </li>
      <li class="tiker__item">
        <img class="tiker__img" src="./images/logo.svg" alt="Ringel">
      </li>
      <li class="tiker__item">
        Безкоштовне повернення
      </li>
      <li class="tiker__item">
        <img class="tiker__img" src="./images/logo.svg" alt="Ringel">
      </li>
      <li class="tiker__item">
        відмінна якість
      </li>
      <li class="tiker__item">
        <img class="tiker__img" src="./images/logo.svg" alt="Ringel">
      </li>
      <li class="tiker__item">
        Офіційна гарантія
      </li>
    </ul>
  </div>
</div>