.badge-discount {
    position: absolute;
    top: 20px;
    left: 20px;
    @include DINPcond(900, 18px, 1);
    text-transform: uppercase;
    width: fit-content;
    border-radius: 20px;
    padding: 2px 6px;
    color: $light;
    background-color: $light-600;
    border-radius: 20px;
}

@media(max-width: 576px) {
    .badge-discount {
        font-size: 10px;
    }
}