.badge-type {
    position: absolute;
    top: 20px;
    left: 20px;
    @include DINPcond(900, 18px, 1);
    text-transform: uppercase;
    width: fit-content;
    border-radius: 20px;
    padding: 2px 6px;
    color: $light;
    background-color: $dark-700;
    border-radius: 20px;
    font-size: 18px;
}

@media(max-width: 576px) {
    .badge-type {
        font-size: 10px;
    }
}