.product {
  background-color: $light-900;
  overflow-x: hidden;

  .slider-product {
    padding: 20px 0 40px 0;
    position: relative;
    overflow: visible;

    &__track {
      display: flex;
      justify-content: center;
      gap: 30px;
    }

    &__slide {
      flex: 0 0 calc((100% - 60px) / 4);
      max-width: 351px;
      width: 100%;
      opacity: .5;
      pointer-events: none;
      &--visible {
        opacity: 1;
        pointer-events: auto;
      }
    }

    &__btn {
      position: absolute;
      z-index: 10;
      top: 46%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(-46%);
      border: 1px solid $light-900;
      cursor: pointer;

      &--next {
        right: -30px;
      }

      &--prev {
        left: -30px;
      }

      svg {
        path {
          fill: $dark-700;
        }

        &>rect {
          fill: $light;
        }
      }

      &:hover,
      &:active {
        svg {
          path {
            fill: $dark-700;
          }

          &>rect {
            fill: $accent;
          }
        }
      }

    }
  }

  .slider-product-pagination {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 6px;
    height: 10px;
    background-color: $light;

    &__bullet {
      width: 10%;
      height: 10px;
      border-radius: 6px;
      background-color: $light;
      opacity: 1;
      margin: 0;
    }

    &__bullet {
      &--active {
        background: $dark-700;
      }
    }
  }

}

/* у slider__slide slider-product__slide slider-product__slide--visible удалить display: none; */
@media (max-width: 1560px) {
  .product {
    .slider-product {
      &__btn {
        &--next {
          right: 0px;
        }
  
        &--prev {
          left: 0px;
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  .product {
    .slider-product {
      &__slide {
        flex: 0 0 calc((100% - 60px) / 3);
        max-width: 351px;
        width: 100%;
        opacity: .5;
        display: none;

        &--visible {
          opacity: 1;
          display: block;
        }
      }

      &__control {
        display: none;
      }
    }
  }
}

@media (max-width: 880px) {
  .product {
    .slider-product {
      &__slide {
        flex: 0 0 calc((100% - 60px) / 2);
      }
    }
  }
}

@media (max-width: 680px) {
  .product {
    .slider-product {
      &__control {
        display: none;
      }
    }

    &__title {
      font-size: 25px;
    }
  }
}

@media (max-width: 576px) {
  .product {
    padding: 30px 0;

    .slider-product {
      padding-bottom: 20px;
      &__track {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-items: center;
      }
      .product-card {
        .badge-bestseller,
        .badge-discount,
        .badge-topsale {
          top: 10px;
          left: 10px;
        }
      }
    }

    .slider-product-pagination {
      height: 4px;

      &__bullet {
        height: 4px;
        width: 25%;
      }
    }
  }
}