<article class="benefit-card">
    <picture>
        <source srcset="./images/index/reviews/@@img.webp" type="image/webp">
        <img class="benefit-card__img" src="./images/index/reviews/@@img.jpg" alt="@@alt" width="755" height="504">
    </picture>
    <div class="benefit-card__info">
        <h3 class="benefit-card__title">
            @@title
        </h3>
        <p class="benefit-card__desc">
            @@review
        </p>
        <a class="cta benefit-card__button" type="submit">
            Детальніше
            <span class="cta__box">
                <svg class="icon" width="18" height="13">
                    <use href="./images/sprite.svg#arrowRight"></use>
                </svg>
            </span>
        </a>
    </div>
</article>