<article class="product-recommended">
    <div class="product-recommended__info">
        <picture>
            <source srcset="./images/@@folder/@@img.webp" type="image/webp">
            <img class="product-recommended__img" src="./images/@@folder/@@img.png" alt="@@alt" width="@@width"
                height="@@height">
        </picture>
        <div class="product-recommended__inner">
            <h4 class="product-recommended__title">
                @@title
            </h4>
            @@include('../lego/price.html', {
            "showOldPrice": "false",
            "currentPrice": "1 456 ₴"
            })
        </div>
    </div>
    @@if(context.showBadgeSeller === 'true') {
    @@include('../lego/badges/bestseller.html')
    }
    <button class="product-recommended__button" aria-label="Добавити в корзину">
        <svg class="icon" width="23" height="23">
            <use href="./images/sprite.svg#basket"></use>
        </svg>
    </button>
</article>