<article class="deal-detail">
    <picture>
        <source srcset="./images/index/advantages/@@img.webp" type="image/webp">
        <img class="deal-detail__img" src="./images/index/advantages/@@img.jpg" alt="@@alt" width="607" height="574">
    </picture>
    <div class="deal-detail__inner">
        @@include('../lego/date-info.html', {
            "date": "З 15 серпня до 7 вересня"
        })
        <div class="deal-detail__info">
            <p>
                Як іммігранти, ми з моїм партнером знайшли Our Place в Америці, готуючи та ділячись їжею з новими
                друзями, які стали нашою обраною родиною. Саме тому ми започаткували Our Place: щоб створити більший
                стіл, за яким вистачить місця для всіх нас.
            </p>
            <p>
                Для мене це найбільша честь — щодня працювати над побудовою зв’язків разом із нашою натхненною командою
                та нашою чудовою спільнотою.
            </p>
            <p>
                Як іммігранти, ми з моїм партнером знайшли Our Place в Америці, готуючи та ділячись їжею з новими
                друзями, які стали нашою обраною родиною. Саме тому ми започаткували Our Place: щоб створити більший
                стіл, за яким вистачить місця для всіх нас.
            </p>
            <p>
                Для мене це найбільша честь — щодня працювати над побудовою зв’язків разом із нашою натхненною командою
                та нашою чудовою спільнотою.
            </p>
            <p>
                Як іммігранти, ми з моїм партнером знайшли Our Place в Америці, готуючи та ділячись їжею з новими
                друзями, які стали нашою обраною родиною. Саме тому ми започаткували Our Place: щоб створити більший
                стіл, за яким вистачить місця для всіх нас.
            </p>
            <p>
                Для мене це найбільша честь — щодня працювати над побудовою зв’язків разом із нашою натхненною командою
                та нашою чудовою спільнотою.
            </p>
        </div>
    </div>
</article>