<article class="card-deal">
    <picture>
        <source srcset="./images/index/advantages/@@img.webp" type="image/webp">
        <img class="cookware-card__img" src="./images/index/advantages/@@img.jpg" alt="@@alt" width="351" height="332">
    </picture>
    <div class="card-deal__info">
        <h2 class="card-deal__title">
            @@title
        </h2>
        @@include('../lego/date-info.html', {
            "date": "З 15 серпня до 7 вересня"
        })
        <span class="card-deal__time">
            @@time
        </span>
    </div>
</article>