<!-- Корзина активувати popup--active popup--basket / basket--show та basket--hide - анімація-->
<!-- basket basket--empty - пуста корзина -->
<div class="popup popup--basket popup--hide" data-popup="basket">
    <div class="basket">
        <header class="basket__hrader">
            <h2 class="basket__title title">
                <p class="basket__title-text">ВАШ КОШИК</p>
                <span class="basket__title-num-box">(<span class="basket__title-num">3</span>)</span>
            </h2>
            <a class="basket__redag-link" href="#">редагувати</a>
            <button class="basket__close-btn" aria-label="Закрити">
                <svg class="icon" width="24" height="24">
                    <use href="./images/sprite.svg#close"></use>
                </svg>
            </button>
        </header>
        <div class="basket__body">
            <div class="basket__list">
                <div class="basket__item">
                    @@include('../cards/card-product-basket.html',
                    {"folder":"goods",
                    "img":"zitroneOlive",
                    "alt":"Сковорода з антипригарним покриттям і скляною кришкою",
                    "width": "86",
                    "height": "61",
                    "title":"Каструля Ringel Zitrone Olive 4.2 л 24 см (RG-2008-22)",
                    "showOldPrice": "false",
                    "oldPrice": "",
                    "currentPrice": "1 456 ₴"
                    })
                </div>
                <div class="basket__item">
                    @@include('../cards/card-product-basket.html',
                    {"folder":"goods",
                    "img":"zitroneOlive",
                    "alt":"Сковорода з антипригарним покриттям і скляною кришкою",
                    "width": "86",
                    "height": "61",
                    "title":"Каструля Ringel Zitrone Olive 4.2 л 24 см (RG-2008-22)",
                    "showOldPrice": "true",
                    "oldPrice": "1 820 ₴",
                    "currentPrice": "1 456 ₴",
                    "product-price--old": "product-price--old",
                    "product-price--current": "product-price--current"
                    })
                </div>
                <div class="basket__item">
                    @@include('../cards/card-product-basket.html',
                    {"folder":"goods",
                    "img":"zitroneOlive",
                    "alt":"Сковорода з антипригарним покриттям і скляною кришкою",
                    "width": "86",
                    "height": "61",
                    "title":"Каструля Ringel Zitrone Olive 4.2 л 24 см (RG-2008-22)",
                    "showOldPrice": "false",
                    "oldPrice": "",
                    "currentPrice": "1 456 ₴"
                    })
                </div>
            </div>
        </div>
        <div class="basket__empty">
            <p class="basket__empty-text">Ваша корзина поки порожна.
                з чого хочете почати?</p>
            <ul class="basket__empty-cats">
                <li class="basket__empty-cat">
                    <a class="basket__empty-cat-link" href="#">
                        <picture>
                            <source srcset="./images/categories/cookware/skillet.webp" type="image/webp">
                            <img class="basket__cat-img" src="./images/categories/cookware/skillet.png"
                                alt="Овочі тушковані на сковороді Ringel">
                        </picture>
                        <h3 class="basket__cat-title">Сковорідки</h3>
                        <svg class="icon" width="24px" height="24px">
                            <use href="./images/sprite.svg#arrowRight"></use>
                        </svg>
                    </a>
                </li>
                <li class="basket__empty-cat">
                    <a class="basket__empty-cat-link" href="#">
                        <picture>
                            <source srcset="./images/goods/zitroneOlive.webp" type="image/webp">
                            <img class="basket__cat-img" src="./images/goods/zitroneOlive.png"
                                alt="Овочі тушковані на сковороді Ringel">
                        </picture>
                        <h3 class="basket__cat-title">Каструлі та ковші</h3>
                        <svg class="icon" width="24px" height="24px">
                            <use href="./images/sprite.svg#arrowRight"></use>
                        </svg>
                    </a>
                </li>
                <li class="basket__empty-cat">
                    <a class="basket__empty-cat-link" href="#">
                        <picture>
                            <source srcset="./images/goods/knife.webp" type="image/webp">
                            <img class="basket__cat-img" src="./images/goods/knife.png"
                                alt="Овочі тушковані на сковороді Ringel">
                        </picture>
                        <h3 class="basket__cat-title">Ножі та приладдя</h3>
                        <svg class="icon" width="24px" height="24px">
                            <use href="./images/sprite.svg#arrowRight"></use>
                        </svg>
                    </a>
                </li>
                <li class="basket__empty-cat">
                    <a class="basket__empty-cat-link" href="#">
                        <picture>
                            <source srcset="./images/goods/spoonfork.webp" type="image/webp">
                            <img class="basket__cat-img" src="./images/goods/spoonfork.png"
                                alt="Овочі тушковані на сковороді Ringel">
                        </picture>
                        <h3 class="basket__cat-title">Столові приладия</h3>
                        <svg class="icon" width="24px" height="24px">
                            <use href="./images/sprite.svg#arrowRight"></use>
                        </svg>
                    </a>
                </li>
                <li class="basket__empty-cat">
                    <a class="basket__empty-cat-link" href="#">
                        <picture>
                            <source srcset="./images/goods/katle.webp" type="image/webp">
                            <img class="basket__cat-img" src="./images/goods/katle.png"
                                alt="Овочі тушковані на сковороді Ringel">
                        </picture>
                        <h3 class="basket__cat-title">Інше</h3>
                        <svg class="icon" width="24px" height="24px">
                            <use href="./images/sprite.svg#arrowRight"></use>
                        </svg>
                    </a>
                </li>
                <li class="basket__empty-cat">
                    <a class="basket__empty-cat-link" href="#">
                        <picture>
                            <source srcset="./images/goods/series.webp" type="image/webp">
                            <img class="basket__cat-img" src="./images/goods/series.png"
                                alt="Овочі тушковані на сковороді Ringel">
                        </picture>
                        <h3 class="basket__cat-title">Серії</h3>
                        <svg class="icon" width="24px" height="24px">
                            <use href="./images/sprite.svg#arrowRight"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <a class="cta basket__empty-link-btn" type="submit">
                Перейти в каталог
                <span class="cta__box">
                    <svg class="icon" width="18" height="13">
                        <use href="./images/sprite.svg#arrowRight"></use>
                    </svg>
                </span>
            </a>
        </div>
        <div class="basket__slider">
            <div class="basket__slider-panel">
                <h2 class="basket__slider-title title">Рекомендовані товари</h2>
                <div class="recomend-slider__nav">
                    <button class="recomend-slider__btn recomend-slider__btn--prev">
                        <svg class="recomend-slider__btn-icon icon" width="18px" height="13px">
                            <use href="./images/sprite.svg#arrowRight"></use>
                        </svg>
                    </button>
                    <button class="recomend-slider__btn recomend-slider__btn--next">
                        <svg class="recomend-slider__btn-icon icon" width="18px" height="13px">
                            <use href="./images/sprite.svg#arrowRight"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="recomend-slider">
                <div class="recomend-slider__wrapper">
                    <div class="recomend-slider__track">
                        <div class="recomend-slider__slide">
                            @@include('../cards/card-product-recommended.html',
                            {"folder":"goods",
                            "img":"zitroneOlive",
                            "alt":"Сковорода з антипригарним покриттям і скляною кришкою",
                            "width": "80",
                            "height": "56",
                            "title":"Каструля Ringel Zitrone Olive 4.2 л 24 см (RG-2008-22)",
                            "showBadgeSeller": "true"
                            })
                        </div>
                        <div class="recomend-slider__slide">
                            @@include('../cards/card-product-recommended.html',
                            {"folder":"goods",
                            "img":"zitroneOlive",
                            "alt":"Сковорода з антипригарним покриттям і скляною кришкою",
                            "width": "80",
                            "height": "56",
                            "title":"Каструля Ringel Zitrone Olive 4.2 л 24 см (RG-2008-22)",
                            "showBadgeSeller": "true"
                            })
                        </div>
                        <div class="recomend-slider__slide">
                            @@include('../cards/card-product-recommended.html',
                            {"folder":"goods",
                            "img":"zitroneOlive",
                            "alt":"Сковорода з антипригарним покриттям і скляною кришкою",
                            "width": "80",
                            "height": "56",
                            "title":"Каструля Ringel Zitrone Olive 4.2 л 24 см, (RG-2008-22)",
                            "showBadgeSeller": "false"
                            })
                        </div>
                    </div>
                </div>
                <div class="recomend-slider-pagination">
                    <span class="recomend-slider-pagination__bullet recomend-slider-pagination__bullet--active"></span>
                    <span class="recomend-slider-pagination__bullet"></span>
                </div>
            </div>
        </div>
        <footer class="basket__footer">
            <div class="promo-code">
                <input type="checkbox" class="promo-code__checkbox" id="promo-trigger">
                <label class="promo-code__trigger-label" for="promo-trigger">
                    + ДОДАТИ ПРОМОКОД
                </label>
                <form action="#" class="promo-code__form">
                    <input class="promo-code__input" type="text" placeholder="Промокод">
                    <button class="promo-code__submit button" type="submit">Застосувати</button>
                </form>
            </div>
            <div class="basket__total-panel">
                <h4 class="basket__total-title">До сплати</h4>
                <span class="basket__total-sum">1 456<span class="basket__total-sum-mark">₴</span></span>
            </div>
            <button class="cta" type="submit">
                Оформити замовлення
                <span class="cta__box">
                    <svg class="icon" width="18" height="13">
                        <use href="./images/sprite.svg#arrowRight"></use>
                    </svg>
                </span>
            </button>
            <div class="basket__cookie">
                <p>
                    Оформлюючи замовлення, ви погоджуєтеся з нашими та
                    <a class="cookie-banner__rules cookie-banner__link" href="#">Умовами використання</a>
                    та
                    <a class="cookie-banner__privaci cookie-banner__link" href="#">Політикою конфіденційності</a>
                </p>
            </div>
        </footer>
    </div>
</div>
