.cookware {
    padding-top: 0;
}

.category-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
        height: 0;
        bottom: -20px;
        left: 0;
        border-radius: 6px;
    }

    &::before {
        width: 100%;
        background-color: $light;
    }

    &::after {
        width: 50%;
        background-color: $dark-700;
    }

    &__item {
        max-width: 351px;
        width: 100%;
    }
}

@media(max-width: 1152px) {
    .category-list {
        justify-content: center;
    }
}

@media(max-width: 776px) {
    .category-list {
        &__item {
            width: 44%;
        }
    }
}


@media(max-width: 576px) {
    .top {
        padding: 22px 0 20px;

        &__info {
            display: none;
        }

        &__title {
            font-size: 25px;
            margin: 8px 0 0 0;
        }
    }

    .breadcrumbs {
        &__link {
            font-size: 14px;
        }
    }

    .category-list {
        &::before,
        &::after {
            height: 4px;
        }
    }
}