.checkout {
  background-color: $light-900;
  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  &__order {
    max-width: 990px;
    width: 100%;
  }
  &__basket {
    max-width: 480px;
    width: 100%;
  }
  &__control-panel {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__slider-title {
    font-size: 25px;
  }
  &__slider-nav {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
.order-form {
  &__title {
    font-size: 35px;
    margin-bottom: 20px;
  }
}
.contact-info {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid $dark-400;
  input {
    transition: all .3s;
    &::placeholder {
      @include Inter(400, 18px, 1.1);
      color: $dark-400;
    }
    &:hover{
      border-color: $accent;
    }
    &:focus {
      outline: 1px solid $accent;
    }
  }
  &__input {
    width: 100%;
    padding: 15px 20px;
    border: 1px solid $dark-400;
    border-radius: 6px;
    @include Inter(400, 18px, 1.1);
    color: $dark-700;
    margin-bottom: 20px; 
    &--email,
    &--tel {
      max-width: 50%;
    }
  }
  &__person-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
}
.delivery,
.payment {
  border-bottom: 1px solid $dark-400;
  padding-bottom: 30px;
  margin-bottom: 30px;
  &__chose {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;  
  }
  &__item {
    max-width: 312px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid transparent;
    padding: 15px 14px 15px 48px;
    display: flex;
    position: relative;
    width: fit-content;
    gap: 30px;
    &:has(.delivery__radio:checked),
    &:has(.payment__radio:checked){
      border-color: $dark-700; 
    }
    &:hover {
      border-color: $accent;
    }

    &:focus {
      outline: 1px solid $accent;
    }
  }

  &__radio {
    @include visually-hidden;
    &:checked+.delivery__radio-style,
    &:checked+.payment__radio-style {
      position: absolute;
      border: 1px solid $dark-400;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background-color: transparent;
      top: 20px;
      left: 20px;
      &::after {
        position: absolute;
        content: '';
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: $dark-700;
        top: 2px;
        left:2px;
      }
    }
    &:checked+.payment__radio-style {
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__radio-style {
    position: absolute;
    border: 1px solid $dark-400;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: transparent;
    top: 20px;
    left: 20px;
  }
  &__descr-title {
    @include Inter(700, 16px, 1.25);
    margin: 0;
    color: $dark-700;
  }
  &__icon {
    fill: $light-600;
  }
}
.delivery-dropdoun {
  margin-bottom: 20px;
  position: relative;
  &__display {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $dark-400;
    border-radius: 6px;
    padding: 15px 20px;
    &.list-open {
      .delivery-dropdoun__icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 21px;
        transform: rotate(90deg);
      }
    }
  
    &.list-close {
      .delivery-dropdoun__icon {
        transform: rotate(-90deg);
      }
    }
    &:hover {
      border-color: $accent;
    }

    &:focus {
      outline: 1px solid $accent;
    }
  }
  &__icon {
    transition: all .3s;
    fill: $dark-700;
  }
  &__display-input {
    width: 100%;
  }
  &__list {
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 15px 20px;
    background-color: $light;
    border: 1px solid $dark-400;
    border-radius: 6px;
    transition: max-height 0.3s ease, opacity 0.3s ease;

    &.is-open {
      max-height: fit-content;
      opacity: 1;
    }

    &.is-hide {
      max-height: 0;
      overflow: hidden;
      opacity: 0;
    }
  }
}
.payment {
  &__chose {
    gap: 30px;
    justify-content: start;
  }
    &__item {
      max-width: 312px;
      width: 100%;
    }
  &__radio-style {
    top: 50%;
    transform: translateY(-50%);
  }
}

.comment {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid $dark-400;
  &__textarea {
    width: 100%;
    padding: 15px 20px;
    border: 1px solid $dark-400;
    border-radius: 6px;
    @include Inter(400, 18px, 1.1);
    color: $dark-700;
    resize: none;
    max-height: 110px;
    transition: all .3s;
    
      &::placeholder {
        @include Inter(400, 18px, 1.1);
        color: $dark-400;
      }
    
      &:hover {
        border-color: $accent;
      }
    
      &:focus {
        outline: 1px solid $accent;
      }
  }
}
.recomend-slider {
  &__btn {
    background-color: $light;
    width: 51px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $light;
    border-radius: 6px;
    transition: background-color .3s, outline .3s, opacity .3s;
    outline-offset: 3px;
    &--prev {
      svg.icon {
        transform: rotate(180deg);
      }
    }
    svg.icon {
      fill: $dark-700;
    }

    &:hover {
      background-color: $accent;
      border-color: $accent;
    }

    &:focus {
      outline: 1px solid $accent;
    }

    &:active {
      box-shadow: inset 4px 4px 4px rgba(0, 0, 0, .25);
    }

  }
  
  &__track {
    display: flex;
    gap: 30px;
    overflow-x: hidden;
  }
  
  &__slide {
    flex: 0 0 calc((100% - 60px) / 2.5);
    max-width: 351px;
    width: 100%;
    padding: 0 5px;
  }
}

/* basket */
.basket {
  padding: 40px 30px 30px;
  background-color: $light;
  width: 100%;
  &__hrader {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__title {
    display: flex;
    align-items: flex-end;
    gap: 5px;
    margin: 0;
  }
  &__title-text {
    font-size: 35px;
  }
  
  &__title-num-box,
  &__title-num {
    @include Inter(400, 14px, 1.57);
    color: $dark-400
  }
  
  &__redag-link {
    @include DINPcond(900, 18px, 1.2);
    text-transform: uppercase;
    color: $dark-700;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      border-bottom: 1px solid $dark-700;
      bottom: 2px;
      left: 0;
      width: 100%;
    }
  }
  &__list {
    max-height: 360px;
    overflow-y: auto;
    padding-right: 5px;
    margin-bottom: 15px;
    position: relative;
    scrollbar-color: $dark-700 $light-900;
    scrollbar-width: thin;
    &::-webkit-scrollbar {
      background-color: $light-900;
    }
    &::-webkit-scrollbar {
      width: 4px ;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $dark-700;
    }
    &::after {
      position: absolute;
      content: '';
      width: 100%;
      background: linear-gradient(180.00deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 100%);
      height: 60px;
      bottom: 0;
      left: 0;
    }
  }
  &__item {
    border-bottom: 1px solid rgba($dark-700, 0.2);
  }
  &__footer {
    padding-top: 20px;
  }
  
  &__total-panel {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  &__total-title {
    @include DINPcond(900, 18px, 1.2);
    text-transform: uppercase;
    color: $dark-700;
  }
  
  &__total-sum {
    @include Manrope(800, 35px, 1);
    text-transform: uppercase;
    color: $dark-700;
    padding-right: 5px;
  }
  
  &__foote-order-sbmt {
    width: 100%;
    justify-content: space-between;
    &:hover {
      background-color: transparent;
      color: $dark-700;
      border-color: $dark-700;
    }
    &:active {
      background-color: $accent;
      box-shadow: inset 4px 4px 4px rgba(0, 0, 0, .25);
    }
  }
    
  &__order-sbmt-icon {
    fill:$dark-700;
  }
}


.promo-code {
  border-bottom: 1px solid rgba($dark-700, 0.2);
  padding-bottom: 15px;
  &__checkbox {
    @include visually-hidden;
    &:checked ~ .promo-code__form {
      max-height: 500px;
      height: fit-content;
      border: 1px solid $dark-400;
    }
  }
  
  &__trigger {
    padding-bottom: 15px;
  }
  
  &__label {
    @include DINPcond(900, 18px, 1.2);
    text-transform: uppercase;
    color: $dark-700;
  }
  
  &__form {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s, border-color .3s;
    padding: 0;
    margin-bottom: 0;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    border-radius: 6px;
  }
  
  &__input {
    padding: 15px 10px 15px 20px;
    @include Inter(400, 18px, 1.2);
    color: $dark-700;
    &::placeholder {
      @include Inter(400, 18px, 1.2);
      color: $dark-400;
    }
  }
  
  &__submit {
    margin-left: -7px;
    &:hover {
      background-color: transparent;
      color: $dark-700;
      border-color: $dark-700;
    }
    &:focus {
      outline: 1px solid $dark-700;
    }
    &:active {
      background-color: $accent;
      box-shadow: inset 4px 4px 4px rgba(0, 0, 0, .25);
    }
  }
}




