.series {
    .product {
        padding-top: 10px;

        .title {
            display: none;
        }
    }

    .slider-product__slide:first-child {
        display: none;
    }

    .slider-product__track {
        justify-content: flex-start;
    }
}