.product-recommended {
    position: relative;
    max-width: 351px;
    width: 100%;
    padding: 20px 20px 35px 26px;
    color: $dark-700;
    background-color: $light;
    border-radius: 6px;
    box-shadow:
    0px 4px 8px 0px rgba(0, 0, 0, 0.06),
    0px 0px 4px 0px rgba(0, 0, 0, 0.04);
    &__info {
        display: flex;
        gap: 23px;
    }

    &__inner {
        max-width: 195px;
        width: 100%;
    }

    &__img {
        margin-top: 38px;
    }

    &__title {
        font-size: 18px;
        text-transform: uppercase;
        font-family: 'DINPro-CondensedBlack';
        line-height: 1.13;
        margin-bottom: 7px;
    }

    &__button {
        position: absolute;
        right: 20px;
        bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        margin-left: auto;
        border-radius: 6px;
        background-color: $accent;
        border: 1px solid transparent;
        outline-offset: 3px;
        transition: background-color 0.3s, outline 0.3s, opacity 0.3s;

        &:hover {
            background-color: transparent;
            border-color: $accent;
        }

        &:focus {
            outline: 1px solid $accent;
        }

        &:active {
            opacity: 0.7;
        }
    }
}

