.product-card {
  display: flex;
  flex-direction: column;
  max-width: 351px;
  width: 100%;
  padding: 20px;
  overflow: hidden;
  background-color: $light;
  border-radius: 6px;
  &__image-box {
    max-width: 258px;
    width: 100%;
    max-height: 181px;
    height: 100%;
    margin: 0 auto;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    @include DINPcond(900, 22px, 1.13);
    color: $dark-700;
    margin-bottom: 15px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__cart-btn {
    svg {
      rect {
        fill: $accent;
      }

      &rect:nth-child(1) {
        fill: #282934;
      }

      g {
        path {
          fill: $dark-700;
        }
      }
    }

    &:active,
    &:focus {
      svg {
        rect {
          fill: $light-700;
        }

        &rect:nth-child(1) {
          fill: $light;
        }

        g {
          path {
            fill: $light;
          }
        }
      }
    }
  }

  &--reviews {

    .product-card__badge--type,
    .product-card__badge--taste {
      background-color: $dark-700;
      display: inline-block;
    }

    .product-card__picture {
      margin-bottom: 40px;
      width: 100%;
    }

    .product-card__reviews-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .product-card__decr {
      margin: 10px 0;
      @include Inter(400, 16px, 1.56);
      color: $dark-400;
    }

    .product-card__recomend {
      @include DINPcond(900, 16px, 1.56);
      text-transform: uppercase;
      color: $dark-700;
    }
  }
}

@media (max-width: 680px) {
  .product-card {
    &__title {
      font-size: 16px;
    }
    .product-option__item {
      font-size: 14px;
    }
    .product-price {
      &__old {
        font-size: 14px;
      }
  
      &__current {
        font-size: 16px;
      }
    }

    &__cart-btn {
      svg {
        width: 40px;
        height: 40px;
      }
    }
  }
}

@media (max-width: 528px) {
  .product-card {
    padding: 10px;

    .product-badge {
      &__item {
        font-size: 10px;
      }
    }

    .product-rating {
      font-size: 8px;
      margin-bottom: 12px;
      &__icon {
        width: 10px;
        height: 10px;
      }
    }

    &__title {
      font-size: 12px;
      margin-bottom: 5px;
    }

    .product-option {
      margin-bottom: 5px;
      &__item {
        font-size: 8px;
      }
    }
    .product-price {
      &__old {
        font-size: 10px;
      }
  
      &__current {
        font-size: 12px;
      }
    }


    &__cart-btn {
      svg {
        width: 28px;
        height: 28px;
      }
    }

    &--reviews {
      .product-card__title {
        font-size: 16px;
        margin: 0;
      }

      .product-card__decr,
      .product-card__recomend {
        display: none;
      }
    }
  }
}