.product {
  background-color: $light-900;
  padding: 60px 0;

  &__title {
    @include DINPcond(900, 45px, 1);
    text-transform: uppercase;
    color: $dark-700;
  }

  .slider.slider-product {
    padding: 20px 0 30px 0;
    position: relative;
  }

  .slider {
    .slider-product {
      &__wrapper {
        display: flex;
        justify-content: center;
      }

      &__slide {
        flex: 1 1 25%;
        max-width: 351px;
        width: 100%;
        margin: 0 15px;

        .product-card {
          display: flex;
          flex-direction: column;
          max-width: 351px;
          width: 100%;
          padding: 20px;
          overflow: hidden;
          background-color: $light;
          border-radius: 6px;

          &__badges {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
            margin-bottom: 20px;
          }

          &__badge {
            @include DINPcond(900, 18px, 1);
            text-transform: uppercase;
            width: fit-content;
            border-radius: 20px;
            padding: 2px 6px;
            color: $light;

            &--discount {
              background-color: $light-600;
            }

            &--bestseller {
              background-color: $dark-700;
            }

            &--topsale {
              background-color: $light-700;
            }
          }

          &__image-box {
            max-width: 258px;
            width: 100%;
            max-height: 181px;
            height: 100%;
            margin: 0 auto;
          }

          &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          &__rating {
            @include Inter(700, 16px, 1.25);
            color: $dark-700;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
          }

          &__rating-value {
            font-size: inherit;
            color: inherit;
          }

          &__title {
            @include DINPcond(900, 22px, 1.13);
            color: $dark-700;
            margin-bottom: 15px;
          }

          &__options {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 8px;
            margin-bottom: 20px;

            &--hedden {
              display: none;
              gap: 8px;
            }
          }

          &__option {
            @include Manrope(800, 18px, 1);
            color: $dark-400;
            display: flex;
            align-items: center;
            padding: 8px;
            border-radius: 6px;
            border: 1px solid $dark-700;

            &--more {
              border: none;
              background-color: $light-900;
            }

            &--active {
              color: $dark-700;
            }
          }

          &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }

          &__price {
            @include Manrope(800, 18px, 1);
            color: $dark-400;
          }

          &__price-old {
            position: relative;
            display: block;
            width: fit-content;

            &::before {
              position: absolute;
              content: '';
              width: 100%;
              height: 1px;
              background-color: $dark-400;
              left: 0;
              top: 50%;
              transform: rotate(-12deg);
            }
          }

          &__price-current {
            color: $light-600;
            font-size: 22px;
          }

          &__cart-btn {
            svg {
              rect {
                fill: $accent;
              }

              &rect:nth-child(1) {
                fill: #282934;
              }

              g {
                path {
                  fill: $dark-700;
                }
              }
            }

            &:active,
            &:focus {
              svg {
                rect {
                  fill: $light-700;
                }

                &rect:nth-child(1) {
                  fill: $light;
                }

                g {
                  path {
                    fill: $light;
                  }
                }
              }
            }
          }
        }
      }
    }

    &__btn {
      &--product {
        position: absolute;
        z-index: 10;
        top: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-50%);
        cursor: pointer;

        svg {
          path {
            fill: $dark-700;
          }

          &>rect {
            fill: $light;
          }
        }

        &:hover,
        &:active {
          svg {
            path {
              fill: $dark-700;
            }

            &>rect {
              fill: $accent;
            }
          }
        }
      }
    }

    &__btn-next {
      &--product {
        right: -25px;
      }
    }

    &__btn-prev {
      &--product {
        left: -25px;
      }
    }

    .slider-pagination {
      display: flex;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 6px;
      height: 4px;
      background-color: $light;

      &__bullet {
        width: 10%;
        height: 4px;
        border-radius: 6px;
        background-color: $light;
        opacity: 1;
        margin: 0;
      }

      &__bullet-active {
        &--product {
          background: $dark-700;
        }
      }
    }
  }

}