.product-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 351px;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow: hidden;
  background-color: $light;
  border-radius: 6px;
  &__image-box {
    max-width: 258px;
    width: 100%;
    max-height: 181px;
    height: 100%;
    margin: 0 auto;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    @include DINPcond(900, 22px, 1.13);
    color: $dark-700;
    margin-bottom: 15px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      rect {
        fill: $accent;
      }

      &rect:nth-child(1) {
        fill: #282934;
      }

      g {
        path {
          fill: $dark-700;
        }
      }
    }

    &:active,
    &:focus {
      svg {
        rect {
          fill: $light-700;
        }

        &rect:nth-child(1) {
          fill: $light;
        }

        g {
          path {
            fill: $light;
          }
        }
      }
    }
  }
  &__remove {
    display: none;
  }

  &--reviews {

    .product-card__badge--type,
    .product-card__badge--taste {
      background-color: $dark-700;
      display: inline-block;
    }

    .product-card__picture {
      margin-bottom: 40px;
      width: 100%;
    }

    .product-card__reviews-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .product-card__decr {
      margin: 10px 0;
      @include Inter(400, 16px, 1.56);
      color: $dark-400;
    }

    .product-card__recomend {
      @include DINPcond(900, 16px, 1.56);
      text-transform: uppercase;
      color: $dark-700;
    }
  }
  &--recomend,
  &--quik,
  &--checkout,
  &--basket {
    flex-direction: row;
    align-items: stretch;
    gap: 10px;

    .product-card__title {
      font-size: 18px;
      line-height: 1.22;
      margin-bottom: 5px;
    }

    .product-price__current {
      color: $dark-700;
    }

    .product-card__image-box {
      height: auto;
    }

    .product-card__content {
      display: flex;
      flex-wrap: wrap;
    }

    .product-card__footer {
      width: 100%;
    }

    .product-rating,
    .product-option {
      display: none;
    }

    .product-price {
      &__old {
        display: none;
      }
    }
  }
  &--quik {
    .product-card__content {
      max-width: 200px;
      justify-content: space-between;
    }
    .product-card__title {
      font-size: 22px;
    }
    .product-card__cart-btn {
      display: none;
    }
    .product-card__image-box {
      max-width: 86px;
    }

  }
  &--checkout,
  &--basket {
    padding: 20px 10px;
    max-width: 100%;
    .product-card__cart-btn {
      display: none;
    }
    .product-badge {
      display: none;
    }
    .product-card__image-box {
      width: 86px;
    }
    .product-card__title {
      font-size: 22px;
    }
    .product-price {
      position: relative;
      padding-left: 21px;
      display: flex;
      align-items: flex-end;
    }
    .product-price__multiplicator {
      display: block;
      position: absolute;
      left: 0;
      bottom: -4px;
      @include Inter(400, 14px, 1.57);
      color: $dark-400;
    }
  }
  &--basket {
    gap: 30px;
    .product-card__title {
      padding-right: 35px;
    }
    .product-card__footer {
      width: 100%;
     .product-card__cart-btn {
        display: none;
      }
      .product-counter {
        @include Inter(700, 16px, 1.25);
        color: $dark-700;
        border: 1px solid $dark-700;
        border-radius: 6px;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px 20px;

        &__btn {
          display: flex;
          align-items: center;
          justify-content: center;
          @include Inter(700, 16px, 1.25);
          color: $dark-700;
        }
      }
      .product-card__remove {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 30px;
        top: 20px;
        svg {
          width: 24px;
          height: 24px;
        }
      }
      .product-price__current {
        font-size: 22px;
      }
    }
  }
}

.product-counter {
  display: none;
}

@media (max-width: 680px) {
  .product-card {
    &__title {
      font-size: 16px;
    }
    .product-option__item {
      font-size: 14px;
    }
    .product-price {
      &__old {
        font-size: 14px;
      }
  
      &__current {
        font-size: 16px;
      }
    }

    &__cart-btn {
      svg {
        width: 40px;
        height: 40px;
      }
    }
  }
}

@media (max-width: 528px) {
  .product-card {
    padding: 10px;

    .product-badge {
      &__item {
        font-size: 10px;
      }
    }

    .product-rating {
      font-size: 8px;
      margin-bottom: 12px;
      &__icon {
        width: 10px;
        height: 10px;
      }
    }

    &__title {
      font-size: 12px;
      margin-bottom: 5px;
    }

    .product-option {
      margin-bottom: 5px;
      &__item {
        font-size: 8px;
      }
    }
    .product-price {
      &__old {
        font-size: 10px;
      }
  
      &__current {
        font-size: 12px;
      }
    }


    &__cart-btn {
      svg {
        width: 28px;
        height: 28px;
      }
    }

    &--reviews {
      .product-card__title {
        font-size: 16px;
        margin: 0;
      }

      .product-card__decr,
      .product-card__recomend {
        display: none;
      }
    }

  }
}
