.card-deal {
    background-color: $light;

    &__info {
        display: flex;
        flex-direction: column;
        padding: 20px;
        color: $dark-700;
    }

    &__title {
        font-size: 22px;
        margin-bottom: 12px;
        line-height: 1.13;
        font-family: 'DINPro-CondensedBlack', sans-serif;
        text-transform: uppercase;
    }

    &__time {
        font-size: 14px;
        font-family: 'Manrope-VariableFont_wght', sans-serif;
        padding: 10px 8px;
        border: 1px solid $dark-700;
        border-radius: 6px;
        align-self: flex-start;
        font-weight: 800;
    }
}

@media(max-width: 992px) {
    .card-deal {
        &__time {
            display: none;
        }
    }
}

@media(max-width: 576px) {
    .card-deal {
        &__info {
            padding: 10px;
        }

        &__title {
            font-size: 16px;
            margin-bottom: 0;
        }

        &__time {
            display: none;
        }
    }
}