.promo-card {
  display: flex;
  align-items: stretch;
  position: relative;
  border-radius: 6px;
  border: 1px solid #000;
  overflow: hidden;

  &__picture {
    width: 100%;
    height: 100%;
    display: block;
  }

  &__sub-icon {
    position: absolute;
    left: 0;
    top: 130px;
  }

  &__content {
    padding: 20px;
    max-width: 260px;
    width: fit-content;
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
  }

  &__logo {
    width: 98px;
    height: auto;
    object-fit: cover;
    position: relative;
  }

  &__title-box {
    color: $light;
    margin-bottom: auto;

    &--sld-2 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title,
  &__subtitle {
    @include Manrope(700, 62px, 1);
    text-transform: uppercase;
    position: relative;

    &--sld-2 {
      padding: 5px 3px 5px 3px;
      display: inline-block;
      @include DINPcondBold(400, 32px, 1);
      position: relative;
      z-index: 0;

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        &::before {
          position: absolute;
          content: '';
          width: 100%;
          height: 100%;
          left: 0;
          top: 2px;
          z-index: -1;
        }
      }

      &:nth-child(1) {
        &::before {
          top: 6px;
          transform: rotate(-2.58deg);
          box-shadow: 0px 1.3000000715255737px 1.3000000715255737px 0px rgba(0, 0, 0, 0.25);
          background: rgba(103, 112, 63, 0.7);
        }
      }

      &:nth-child(2) {
        &::before {
          transform: rotate(1.07deg);
          box-shadow: 0px 1.3000000715255737px 1.3000000715255737px 0px rgba(0, 0, 0, 0.25);
          background: rgba(103, 112, 63, 0.7);
        }
      }

      &:nth-child(3) {
        &::before {
          box-shadow: 0px 1.3000000715255737px 1.3000000715255737px 0px rgba(0, 0, 0, 0.25);
          background: rgba(103, 112, 63, 0.7);
          transform: rotate(-2.58deg);
          z-index: -1;
          top: -5px;
        }
      }
    }

    &--sld-3 {
      @include DINPcond(700, 47px, 1);
    }
  }

  &__subtitle {
    font-size: 24px;

    &--sld-2 {
      font-size: 32px;
    }
  }

  &__decor-box {
    position: absolute;
    left: 0;
    right: 0;
    top: 140px;
  }

  &__decor-text {
    @include DINPcond(700, 37px, 1);
    border: 4px solid $dark-700;
    padding: 1px 7px;
    color: $dark-700;
    background-color: $light;
    width: fit-content;
    border-radius: 6px;
    position: relative;
    left: 45%;
    z-index: 1;
  }

  &__decor-line {
    position: absolute;
    display: block;
    background-color: $light;
    border: 4px solid $dark-700;
    height: 12px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (max-width: 1240px) {
  .promo-card {
    &__title {
      font-size: 44px;

      &--sld-2 {
        font-size: 24px;
      }
    }

    &__subtitle {
      font-size: 18px;

      &--sld-2 {
        font-size: 24px;
      }
    }
  }
}
@media (max-width: 1150px) {
  .promo-card {
    &__decor-box {
      top: 40%;
    }

    &__decor-text {
      font-size: 30px;
    }

    &__title {
      font-size: 34px;

      &--sld-2 {
        font-size: 18px;
      }
    }

    &__subtitle {
      font-size: 14px;

      &--sld-2 {
        font-size: 18px;
      }
    }

    .more-details-btn {
      font-size: 14px;
      padding: 10px 36px 10px 10px;

      &__icon {
        width: 16px;
        height: 16px;
        right: 10px;
      }

      &:hover,
      &:active {
        .more-details-btn__icon {
          right: 5px;
        }
      }
    }
  }
}
@media (max-width: 990px) {
  .promo-card {
    &__decor-box {
      top: 40%;
    }

    &__content {
      padding: 10px;
      font-size: 12px;
    }

    &__title-box {
      margin-top: 5px;
    }

    &__title {
      &--sld-3 {
        font-size: 32px;
      }
    }

    &__sub-icon {
      top: 110px;
    }
  }
}
@media (max-width: 880px) {
  .promo-card {
    &__title {
      font-size: 44px;

      &--sld-2 {
        font-size: 24px;
      }
    }

    &__subtitle {
      font-size: 18px;

      &--sld-2 {
        font-size: 24px;
      }
    }

    .more-details-btn {
      font-size: 18px;
    }
  }
}
@media (max-width: 680px) {
  .promo-card {
    &__logo {
      width: 60px;
    }

    &__sub-icon {
      top: 85px;
    }

    &__title {
      font-size: 28px;

      &--sld-2 {
        font-size: 20px;
      }
    }

    &__subtitle {
      font-size: 14px;

      &--sld-2 {
        font-size: 20px;
      }
    }

    .more-details-btn {
      font-size: 14px;
    }
  }
}
@media (max-width: 528px) {
  .promo-card {
    &__content {
      padding: 5px;

      .more-details-btn {
        font-size: 10px;

        &__icon {
          width: 12px;
          height: 12px;
          right: 15px;
        }

        &:hover,
        &:active {
          .more-details-btn__icon {
            right: 7px;
          }
        }
      }
    }

    &__logo {
      width: 50px;
    }

    &__sub-icon {
      top: 65px;
    }

    &__title-box {
      margin-top: 5px;
    }

    &__title {
      font-size: 24px;

      &--sld-2 {
        font-size: 14px;
      }
    }

    &__subtitle {
      font-size: 10px;

      &--sld-2 {
        font-size: 14px;
      }
    }
  }
}
@media (max-width: 440px) {
  .promo-card {
    &__title {
      &--sld-2 {
        font-size: 10px;
      }
    }

    &__subtitle {
      &--sld-2 {
        font-size: 10px;
      }
    }
  }
}