.hero {
  background-image: url('../images/index/hero/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    content: '';
    background-image: url('../images/index/hero/hero-bg-blur.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  &__inner {
    padding: 270px 0 234px;
    max-width: 672px;
    display: flex;
    align-items: center;
  }

  &__title {
    @include DINPcond(900, 100px, 1);
    text-transform: uppercase;
    color: $light;
    margin-bottom: 25px;

    p.hero__title-text {
      position: relative;
      z-index: 1;

      &--bg {
        z-index: 0;
        padding: 10px 10px;
        margin-top: -7px;

        &::after {
          position: absolute;
          content: '';
          background-image: url('../images/index/hero/hero-ractangle.svg');
          background-repeat: no-repeat;
          background-size: cover;
          z-index: -1;
          width: 100%;
          height: 100%;
          bottom: -5px;
          left: -5px;
        }
      }
    }
  }

  &__subtitle {
    max-width: 390px;
    @include Inter(400, 20px, 1.4);
    color: $light;
    margin-bottom: 30px;
  }
}

@media (max-width: 1480px) {
  .hero {
    &__title {
      font-size: 80px;
    }
  }
}

@media (max-width: 1150px) {
  .hero {
    &__title {
      font-size: 60px;
    }

    &__subtitle {
      font-size: 18px;
    }
  }
}

@media (max-width: 680px) {
  .hero {
    &__inner {
      min-width: 335px;
    }

    &__title {
      font-size: 50px;
    }

    &__subtitle {
      max-width: 335px;
      font-size: 14px;
    }
  }
}

@media (max-width: 440px) {
  .hero {
    background-image: url('../images/index/hero/hero-bg-s.jpg');
    &::before {
      background-image: url('../images/index/hero/hero-bg-blur-s.png');
    }

    &__inner {
      padding: 234px 0 137px;
    }

    &__title,
    &__subtitle {
      margin-bottom: 15px;
    }
    &__title {
      font-size: 48px;
    }
  }

}

@media(max-width:364px) {
  .hero__title p.hero__title-text--bg::after {
    width: 60%;
  }
}