<div class="popup popup--active" data-popup="hero-promo">
  <div class="popup__dialog popup__dialog--hero-promo">
    <div class="popup__panel">
      <button class="popup__close" aria-label="Закрити">
        <svg class="icon" width="24" height="24">
          <use href="./images/sprite.svg#close"></use>
        </svg>
      </button>
    </div>
    <!-- hero-promo -->
    <div class="hero-promo">
      <picture>
        <source srcset="./images/index/hero/hero-promo.webp" type="image/webp">
        <img class="hero-promo__img" src="./images/index/hero/hero-promo.jpg"
          alt="Сковорідка Ringel Meyer з антипригарним покриттям на кухонній плиті">
      </picture>
      <div class="hero-promo__contet">
        <p class="hero-promo__pretitle title">
          Ви хочете отримати
        </p>
        <h2 class="hero-promo__title title">75% знижки</h2>
        <a class="hero-promo__btn button" href="#">
          <p>Отримати знижку</p>
          <svg class="icon" width="18px" height="18px">
            <use xlink:href="./images/sprite.svg#arrowRight"></use>
          </svg>
        </a>
      </div>
    </div>

  </div>
</div>