<div class="backdrop is-hidden">
    <div class="modal">
        <picture>
            <source srcset="./images/@@img-mob.webp" type="image/webp" media="(max-width:576px)">
            <source srcset="./images/@@img.webp" type="image/webp">
            <img class="modal__img" src="./images/@@img.jpg" alt="@@alt" width="304" height="306">
        </picture>
        <div class="modal__info">
            <h4 class="modal__title">
                Чи безпечне антипригарне покриття для здоров’я?
            </h4>
            <p class="modal__text">
                Так, антипригарне покриття в каструлях Ringel абсолютно безпечне для здоров’я за
                умови правильного використання. Воно не містить шкідливих речовин, таких як PFOA,
                свинець чи кадмій, і відповідає міжнародним стандартам якості харчового посуду.
            </p>
            <p class="modal__text">
                Це означає, що навіть при щоденному приготуванні їжі за високих температур покриття
                не виділяє токсичних парів і не впливає на смак або безпеку страв.
                До того ж технологія виготовлення забезпечує високу стійкість до подряпин і зносу,
                що зменшує ризик потрапляння частинок покриття в їжу. Для максимальної довговічності
                рекомендується використовувати дерев’яні або силіконові кухонні прилади, уникати
                перегріву посуду без їжі та дотримуватись інструкцій з догляду від виробника.
            </p>
        </div>
        <button class="modal__close" type="button">
            <span class="visually-hidden">
                Закрити модальне вікно
            </span>
        </button>
    </div>
</div>