<!-- Корзина активувати popup--active popup--basket / basket--show та basket--hide - анімація--> 
<div class="popup popup--active" data-popup="quick-order">
    <div class="popup__dialog popup__dialog--quick-order">
        <div class="popup__panel">
            <button class="popup__close" aria-label="Закрити">
                <svg class="icon" width="24" height="24">
                    <use href="./images/sprite.svg#close"></use>
                </svg>
            </button>
        </div>
        <div class="quick-order">
            <h2 class="quick-order__title title">
                Швидке замовлення
            </h2>
            <p class="quick-order__subtitle">
                Заповніть форму, і наш консультант зв'яжеться з вами протягом 5 хвилин та допоможе з оформленням
                замовлення.
            </p>
            <div class="quick-order__content">
                @@include('../cards/card-product-summary.html', {
                    "folder": "goods",
                    "img": "zitroneOlive",
                    "width": "86",
                    "height": "61",
                    "alt": "Каструля Ringel Zitrone Olive 4.2 л із кришкою",
                    "title": "Каструля Ringel Zitrone Olive 4.2 л 24 см (RG-2008-22)"
                })
            </div>
        </div>
        <form class="quick-form">
            <input type="text" class="quick-form__input" placeholder="Ім’я та Прізвище *" required>
            <input type="tel" class="quick-form__input" placeholder="Телефон *" required>
            <button type="submit" class="quick-form__btn button">
                Залишити заявку
                <svg class="icon" width="18" height="13">
                    <use href="./images/sprite.svg#arrowRight"></use>
                </svg>
            </button>
        </form>
    </div>
</div>