<!-- Корзина активувати popup--active popup--basket / basket--show та basket--hide - анімація--> 
<div class="popup popup--hide" data-popup="success">
    <div class="popup__dialog popup__dialog--success">
        <div class="popup__panel">
            <button class="popup__close" aria-label="Закрити">
                <svg class="icon" width="24" height="24">
                    <use href="./images/sprite.svg#close"></use>
                </svg>
            </button>
        </div>
        <div class="success-block">
            <svg class="success-block__icon icon" width="78" height="78">
                <use href="./images/sprite.svg#successMark"></use>
            </svg>
            <h2 class="success-block__title title">дякуємо!</h2>
            <p class="success-block__text">
                Наш консультант зв'яжеться з вами протягом 5 хвилин та допоможе з оформленням замовлення.
            </p>
            <button type="submit" class="success-block__btn button">
                На головну
                <svg class="icon" width="18" height="13">
                    <use href="./images/sprite.svg#arrowRight"></use>
                </svg>
            </button>
        </div>
    </div>
</div>