.product-badge {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;

  &__item {
    @include DINPcond(900, 18px, 1);
    text-transform: uppercase;
    width: fit-content;
    border-radius: 20px;
    padding: 2px 6px;
    color: $light;

    &--discount {
      background-color: $light-600;
    }

    &--bestseller {
      background-color: $dark-700;
    }

    &--topsale {
      background-color: $light-700;
    }

    &--type,
    &--taste {
      background-color: $dark-700;
    }

  }
}