.product-price {
    line-height: 1;

    &__item {
        display: block;
        font-size: 22px;
        font-weight: 800;
        color: $dark-700;
        font-family: 'Manrope-VariableFont_wght';
    }

    &--old {
        font-size: 18px;
        color: $dark-400;
        font-weight: 800;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: rotate(-10deg);
            width: 100%;
            height: 2px;
            background-color: $dark-400;
        }
    }

    &--current {
        color: $light-600;
    }
}

@media(max-width: 576px) {
    .product-price {
        &__current {
            font-size: 16px;
        }
        &--old {
          font-size: 14px;
        }
    }
}