.product-price {
  @include Manrope(800, 18px, 1);
  color: $dark-400;

  &__old {
    position: relative;
    display: block;
    width: fit-content;

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      background-color: $dark-400;
      left: 0;
      top: 50%;
      transform: rotate(-12deg);
    }
  }

  &__current {
    color: $light-600;
    font-size: 22px;
  }
  &__multiplicator {
    display: none;
  }
}