.basket {
  padding: 40px 0px 20px 0px;
  background-color: $light;
  max-width: 416px;
  width: 100%;
  height: auto;
  
  flex-direction: column;
  position: relative;
  z-index: 888;

  &.basket--show {
    transform: translateX(0); // плавно выезжает
  }

  &.basket--hide {
    transform: translateX(200%); // изначально за экраном
    transition: transform 0.4s ease-in-out;
  }

  &__hrader {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    padding-right: 35px;
    padding-left: 30px;
    margin-bottom: 30px;
  }

  &__empty {
    display: none;
    width: 100%;
    padding: 0 30px;
  }

  &__empty-cats {
    flex-grow: 1;
  }

  &__empty-text {
    @include DINPcond(900, 22px, 1);
    text-transform: uppercase;
    color: $dark-700;
    margin-bottom: 10px;
  }

  &__empty-cat {
    padding: 20px 0;
    border-bottom: 1px solid rgba($dark-700, 0.2);

    &:last-child {
      border-bottom: none;
    }
  }

  &__empty-cat-link {
    display: flex;
    align-items: center;
    gap: 20px;

    .icon {
      transition: all .3s;
      fill: $dark-700;
    }

    &:hover {
      .basket__cat-title {
        color: $accent;
      }

      .icon {
        fill: $accent;
        margin-right: -5px;
      }
    }

    &:active {
      .basket__cat-title {
        opacity: .7;
      }

      .icon {
        opacity: .7;
        fill: $accent;
      }
    }
  }

  &__cat-img {
    width: 37px;
  }

  &__cat-title {
    @include Inter(400, 16px, 3.83);
    color: $dark-700;
    margin-right: auto;
    transition: all .3s;
  }

  &__empty-link-btn {
    justify-content: space-between;
    background-color: $light;
    border-color: $dark-700;

    &:hover {
      color: $dark-700;
      background-color: $accent;
    }
  }

  &__title {
    display: flex;
    align-items: flex-end;
    gap: 5px;
    margin: 0;
  }

  &__title-text {
    font-size: 35px;
  }

  &__title-num-box,
  &__title-num {
    @include Inter(400, 14px, 1.57);
    color: $dark-400
  }

  &__redag-link {
    display: none;
    @include DINPcond(900, 18px, 1.2);
    text-transform: uppercase;
    color: $dark-700;
    position: relative;
    transition: all .3s;

    &::after {
      position: absolute;
      content: '';
      border-bottom: 1px solid $dark-700;
      bottom: 2px;
      left: 0;
      width: 100%;
    }

    &:hover {
      color: $accent;

      &::after {
        border-color: $accent;
      }
    }

    &:active {
      opacity: .7;

      &::after {
        opacity: .7;
      }
    }
  }

  &__close-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;

    .icon {
      fill: $dark-700;
    }

    &:hover {
      .icon {
        fill: $accent;
      }
    }

    &:active {
      opacity: .7;

      .icon {
        opacity: .7;
      }
    }
  }

  &__body {
    position: relative;
    height: auto;

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      background: linear-gradient(180.00deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 100%);
      height: 60px;
      bottom: -3px;
      left: 0;
    }
  }

  &__list {
    padding: 0 30px;
    max-height: 360px;
    overflow-y: auto;
    margin-bottom: 15px;
    scrollbar-color: $dark-700 $light-900;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      background-color: $light-900;
    }

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $dark-700;
    }
  }

  &__item {
    border-bottom: 1px solid rgba($dark-700, 0.2);
  }

  &__item:not(:last-child) {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  &__footer {
    padding: 20px 35px 10px 30px;
   
    background-color: $light;
.promo-code {
    display: none;
    border-bottom: 1px solid rgba($dark-700, 0.2);
    padding-bottom: 15px;
    margin-bottom: 20px;
    position: relative;

    &__checkbox {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0 0 0 0);
      border: 0;
      white-space: nowrap;
      clip-path: inset(100%);

      &:checked~.promo-code__form {
        max-height: 500px;
        height: fit-content;
        border: 1px solid $dark-400;
        transition: all .3s;

        &:hover {
          border-color: $accent;
        }
      }
    }


    &__trigger-label {
      padding-bottom: 15px;
      @include DINPcond(900, 18px, 1.2);
      text-transform: uppercase;
      color: $dark-700;
      display: block;
      cursor: pointer;
      position: relative;
    }

    &__form {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s, border-color .3s;
      padding: 0;
      margin-bottom: 0;
      border: 1px solid transparent;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      border-radius: 6px;
      position: relative;
    }

    &__input {
      flex: 1 1 58%;
      display: block;
      max-width: 58%;
      width: 100%;
      padding: 15px 10px 15px 20px;
      @include Inter(400, 18px, 1.2);
      color: $dark-700;

      &::placeholder {
        @include Inter(400, 18px, 1.2);
        color: $dark-400;
      }
    }

    &__submit {
      flex: 1 1 42%;
      padding: 14px 20px;
      max-width: 42%;
      justify-content: center;

      &:hover {
        background-color: transparent;
        color: $dark-700;
        border-color: $dark-700;
      }

      &:focus {
        outline: 1px solid $dark-700;
      }

      &:active {
        background-color: $accent;
        box-shadow: inset 4px 4px 4px rgba(0, 0, 0, .25);
      }
    }
  }
  }

  &__total-panel {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__total-title {
    @include DINPcond(900, 18px, 1.2);
    text-transform: uppercase;
    color: $dark-700;
  }

  &__total-sum {
    @include Manrope(800, 35px, 1);
    text-transform: uppercase;
    color: $dark-700;
    padding-right: 5px;
  }

  &__foote-order-sbmt {
    width: 100%;
    justify-content: space-between;

    &:hover {
      background-color: transparent;
      color: $dark-700;
      border-color: $dark-700;
    }

    &:active {
      background-color: $accent;
      box-shadow: inset 4px 4px 4px rgba(0, 0, 0, .25);
    }
  }

  &__cookie {
    @include Inter(400, 12px, 1.5);
    font-size: 12px;
    text-align: center;
    padding-top: 15px;
    color: $dark-400;
  }

  &__order-sbmt-icon {
    fill: $dark-700;
  }

  &__slider {
    padding-top: 20px;
    padding-left: 30px;
    background-color: $light-900;
  }

  &__slider-panel {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-right: 25px;
  }

  &__slider-title {
    font-size: 22px;
    margin-bottom: 0;
  }

  .product-card {
    &--recomend {
      padding: 15px 20px;
    }

    &--checkout,
    &--recomend {
      .product-price__current {
        font-size: 22px;
      }
    }
  }

  .recomend-slider {
    padding-bottom: 20px;

    &__nav {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &__btn {
      width: 25px;
      height: 25px;
    }

    &__btn-icon {
      width: 12px;
      height: 12px;
    }

    &__track {
      gap: 10px;
    }

    &__slide {
      flex: 0 0 calc((100% - -40px) / 1.2);
    }
  }
  &--empty {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .basket__body,
    .basket__slider,
    .basket__total-panel,
    .basket__footer,
    .basket__foote-order-sbmt,
    .basket__cookie {
      display: none;
    }

    .basket__empty {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
 
  }

}


/* basket */
@media (max-width: 576px) {
  .basket {
    &__hrader {
      padding-left: 20px;
    }

    &__list {
      padding-top: 15px;
      padding: 0 20px;
    }

    &__redag-link {
      display: none;
    }

    &__footer {
      padding-right: 15px;
      padding-left: 20px;
    }

    &__foote-order-sbmt {
      font-size: 16px;
      line-height: 1.4;
    }

    .promo-code {
      &__input {
        &::placeholder {
          font-size: 12px;
        }
      }

      &__submit {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 390px) {
  .basket {
    .recomend-slider__slide {
      .product-card--recomend {
        width: 335px;
      }
    }
  }
}