.popup {
    &__dialog {
        &--hero-promo {
            padding: 0;
            max-width: 516px;
            border-radius: 0 0 6px 6px;

            .popup__close {
                top: -24px;
                right: -36px;
                color: $light;
            }
        }
    }
}

.hero-promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 6px 6px;

    &__pretitle {
        font-size: 22px;
        margin-bottom: 20px;
    }

    &__contet {
        background-color: $light;
        text-align: center;
        padding: 20px 10px 30px;
        width: 100%;
    }

    &__img {
        width: 100%;
    }

    &__title {
        color: $light-600;
        margin-bottom: 25px;
    }

    &__btn {
        width: fit-content;
        margin: 0 auto;
    }
}

@media (max-width: 680px) {
    .popup {
        &__dialog {
            &--hero-promo {
                max-width: 335px;

                .popup__close {
                    right: -4px;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .hero-promo {
        &__title {
            font-size: 45px;
        }
    }
}