.success-block {
    &__icon {
        display: block;
        width: 78px;
        height: 78px;
        margin: 0 auto 20px;
        fill: #282934
    }

    &__title {
        text-align: center;
        margin-bottom: 20px;
        font-size: 35px;
        color: #282934
    }

    &__text {
        text-align: center;
        margin-bottom: 20px
    }

    &__btn {
        margin: 0 auto
    }
}

@media(max-width: 576px) {
    .success-block {
        &__title {
            font-size: 25px
        }

        &__btn {
            width: 100%;
            font-size: 16px;
            justify-content: space-between;
        }

        &__icon {
            width: 63px;
            height: 63px;
            margin-bottom: 10px;
        }

        &__text {
            font-size: 14px;
            margin-bottom: 10px;
        }
    }
}